{% extends "core/base.html" %}

{% block body %}
  <div class="container mb-5">
    <div class="row">
      <div class="col-6">
        <h1 class="mb-4 mt-4">Recuperar Senha</h1>

        <p>Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.</p>

        {% if form.errors %}
          <p class="text-danger">Email inválido, forneça um email válido.</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
            <input type="email" name="{{ form.email.html_name }}" class="form-control" value="{{ field.value }}"
                   autofocus="" maxlength="{{ form.email.max_length }}" required="required"
                   id="{{ form.email.id_for_label }}">
          </div>
          <button type="submit" class="btn btn-primary">Reiniciar Senha</button>
        </form>
      </div>
    </div>
  </div>

{% endblock body %}