{% extends "core/base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-4 mt-4">Redefinição de senha enviada</h1>

        <p>Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que
          você forneceu. Você receberá a mensagem em breve.</p>

        <p>Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se
          registrar,
          e verificar a sua pasta de spam.</p>

      </div>
    </div>
  </div>

{% endblock body %}