{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Módulo de Python Intermediário{% endblock %}
{% block description %}Módulo Intermediário de Python voltado para quem quer entrar no mercado de
    tecnologia!{% endblock %}
{% block head %}
    <script src="{% static 'js/pagarme-checkout-1.1.0.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('button').click(function () {
                var $modal = $('#modal-waiting-capture');

                $.post('{% url 'payments:client_checkout' %}', function () {
                });

                var checkout = new PagarMeCheckout.Checkout({
                    encryption_key: '{{ PAGARME_CRYPTO_KEY }}',
                    success: function (data) {
                        $modal.modal();
                        $.post('{% url 'payments:pytools_capture' %}', data, function (resp) {
                            window.location.href = resp.redirect_url;
                        });
                    },
                    error: function (err) {
                        Sentry.captureMessage(err.responseText);
                    },
                    close: function () {

                    }
                });

                checkout.open({
                    amount: {{ price }},
                    buttonText: 'Pagar',
                    buttonClass: 'botao-pagamento',
                    customerData: 'true',
                    createToken: 'true',
                    paymentMethods: 'credit_card,boleto',
                    maxInstallments: 2,
                    defaultInstallment: 1,
                    freeInstallments: 2,
                    postback_url: '{{ notification_url }}',
                    items: [
                        {
                            id: 'pytools-{{ user.id }}',
                            title: 'Módulo PyTools',
                            unit_price: {{ price }},
                            quantity: 1,
                            tangible: false
                        }
                    ]
                });
            });
        });
    </script>
{% endblock head %}
{% block body %}
    <div class="bg-primary pt-5 pb-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 mb-4">
                    <h1 class="mb-4">Chegou a hora de ir <u>além do básico!</u>
                    </h1>
                    <p>Agora chegou a hora de focar nas ferramentas que o <span class="font-weight-bold"><u>MERCADO PROCURA.</u></span>
                    </p>
                    <p>Você precisa aprender como <span class="font-weight-bold"><u>EQUIPES DE PROGRAMADORES</u></span>
                        colaboram para poder ser um deles.
                    </p>
                    <p>Por isso preparamos o curso PyTools com todos tópicos fundamentais <u>compilados</u>.
                    </p>
                    <p>O módulo vai durar 6 semanas com <span class="font-weight-bold">GARANTIA TOTAL!</span></p>
                    <p>Se você ficar insatisfeito durante esse período, <span class="font-weight-bold">DEVOLVEMOS TODO SEU DINHEIRO!</span>
                    </p>
                    <p>Oferecemos essa garantia pela confiança em nosso trabalho formando profissinais há <span
                            class="font-weight-bold">9 ANOS!</span></p>
                    <p><span
                            class="font-weight-bold">MAS SE INSCREVA AGORA PORQUE ISSO É POR TEMPO LIMITADO!</span>
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <h2>Confira os Bônus</h2>
                    <ul>
                        <li><span
                                class="font-weight-bold">Plantão de dúvidas</span> quinzenal ao vivo, online!
                        </li>
                        <li>1 Hora de <span
                                class="font-weight-bold">mentoria exclusiva</span> para alinhar o plano de estudo com
                            seus objetivos.
                        </li>
                    </ul>
                    <p>Só esses bônus custariam R$ 1000,00 por mês.</p>
                    <h2 class="mt-4">Módulo de Python Intermediário</h2>
                    <p>Apenas as aulas desse módulo custam R$ 500,00</span>.
                    </p>
                    <p>Somado ao valor do bônus, o custo seria de R$ 1500,00.</span>.
                    </p>
                    <p>Mas você pode se inscrever hoje por <span class="font-weight-bold">APENAS R$ 99,99</span> para
                        aprender as 6 ferramentas que todo programador profissional usa em seu dia a dia.
                    </p>
                    <button class="btn btn-warning">SIM! Quero me inscrever por <span
                            class="font-weight-bold"><u>R$ 99,99</u></span> &raquo;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container pt-4 pb-3">
            <div class="row">
                <div class="col">
                    <h3 class="mb-3">Esse módulo vai te ajudar a:</h3>
                    <dt>Conhecer a rede secreta de desenvolvedores</dt>
                    <dd>Você vai aprender a navegar nos projetos e perfis da maior rede de desenvolvedores do mundo.
                    </dd>
                    <dt class="mt-2">Criar o seu portfólio</dt>
                    <dd>Você vai criar seu primeiro projeto de maneira profissional para poder comprovar sua habilidades
                        nas entrevistas!
                    </dd>
                    <dt class="mt-2">Estado da arte em engenharia de software</dt>
                    <dd>Você vai conhecer as principais ferramentas que são pré-requisitos para todas vagas de
                        tecnologia!
                    </dd>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pt-5 pb-5">
        {% include 'core/instructors.html' %}
    </div>
    <div class="bg-light">
        <div class="container pt-5 pb-5">
            {% include 'core/social_proof.html' %}
        </div>
    </div>
    <div class="bg-primary pt-5 pb-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3>Quer se transformar também?</h3>
                    <p>Inscreva-se agora e dê mais um passo rumo à uma carreira de sucesso!</p>
                    <button class="btn btn-warning">SIM! Quero me inscrever por <span
                            class="font-weight-bold"><u>R$ 99,99</u></span> &raquo;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-waiting-capture" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Calma que já está acabando ;)</h5>
                </div>
                <div class="modal-body">
                    Aguarde enquanto finalizamos seu pagamento <img src="{% static 'img/ajax-loader.gif' %}"
                                                                    alt="Ajax Loader"/>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}