{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obrigado por se Inscrever{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col mb-5">
                <h1 class="mb-4">Obrigado por se Inscrever na Turma {{ cohort.title }}!</h1>
                <p>Confira o <a href="{{ cohort.get_absolute_url }}">calendário de atividades</a>. Nessa página você
                    também encontrará informações para já começar a conhecer seus amigos de turma e também o link de
                    nosso badalado grupo do Telegram</p>
                <p>Se você tiver qualquer dúvida, entre em contato pelo email <a
                        href="mailto:{{ DEFAULT_FROM_EMAIL }}?subject=Pessoas%20Pessoais">{{ DEFAULT_FROM_EMAIL }}</a>.
                </p>
                <p>Muito obrigado pela confiança em nosso trabalho!</p>
                <p>Grande abraço, <br/>
                    Luciano Ramalho e Renzo Nuccitelli</p>
            </div>
        </div>
    </div>
{% endblock body %}