{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obrigado por se Inscrever{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col mb-5">
                <h1 class="mb-4">Obrigado por se Inscrever!</h1>
                <p>O código de barras para pagamento do seu boleto é: <b>{{ boleto_barcode }}</b></p>
                <p>Você também pode acessar o boleto para impressão: <a class="btn-success btn" href="{{ boleto_url }}" target="_blank">Visualizar Boleto &raquo;</a></p>
                <p>Se você tiver qualquer dúvida, entre em contato pelo email <a
                        href="mailto:{{ DEFAULT_FROM_EMAIL }}?subject=Pessoas%20Pessoais">{{ DEFAULT_FROM_EMAIL }}</a>.
                </p>
                <p>Assim que o sistema identificar o pagamento, mandaremos um email para você. O processo pode demorar
                    até 3 úteis após o pagamento.</p>
                <p>Muito obrigado pela confiança em nosso trabalho!</p>
                <p>Grande abraço, <br/>
                    Luciano Ramalho e Renzo Nuccitelli</p>
            </div>
        </div>
    </div>
{% endblock body %}