{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obrigado por se Inscrever{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col mb-5">
                <h1 class="mb-4">Obrigado por se Inscrever!</h1>
                <p>Você agora já consegue acessar todo <a href="{% url 'modules:detail' slug='pytools' %}">conteúdo do
                    módulo PyTools</a>.</p>
                <p>Se você tiver qualquer dúvida, entre em contato pelo email <a
                        href="mailto:renzo@python.pro.br?subject=Pessoas%20Pessoais">renzo@python.pro.br</a>.
                </p>
                <p>Nas próximas 5 semanas vamos enviar 1 email a cada semana para ajudar você a completar todo módulo. É
                    importante que você consiga bater as metas semanais.</p>
                <p>Muito obrigado pela confiança em nosso trabalho!</p>
                <p>Grande abraço, <br/>
                    Luciano Ramalho e Renzo Nuccitelli</p>
            </div>
        </div>
    </div>
{% endblock body %}