{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obrigado por se Inscrever{% endblock %}
{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col mb-5">
        <h1 class="mb-4">Obrigado por se Inscrever!</h1>
        <p>Assim que seu pagamento for confirmado entraremos em contato pelo email que você forneceu ao
          Pagseguro.</p>
        <p>Nós vamos pedir um nome e email para poder cadastrar você na platoforma do curso. Se você preferir
          adiantar o processo envie um email para <a
                  href="mailto:renzo@python.pro.br?subject=Pessoas%20Pessoais">renzo@python.pro.br</a> com assunto
          "Dados Pessoais" e acrescente seus dados.
        </p>
        <p>Muito obrigado pela confiança em nosso trabalho, será um prazer conhecer você pessoalmente durante o curso!</p>
        <p>Luciano Ramalho e Renzo Nuccitelli</p>
      </div>
    </div>
  </div>
{% endblock body %}