{% extends 'core/base.html' %}
{% load static %}
{% load dashboard_tags %}
{% block head %}
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock head %}
{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row pb-5">
            <div class="col">
                <h1 class="mb-4">Renove sua Assinatura da Comunidade DevPro</h1>
                <a class="btn btn-success btn-lg"
                   href="{% url 'django_pagarme:pagarme' slug='renovacao-comunidade-devpro' %}">
                    Clique para Renovar
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="mb-4">Assinaturas</h2>
                <p>Confira suas assinaturas</p>
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">Assinatura</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data de Expiração</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td>{{ subscription.name }}</td>
                            <td>
                                {{ subscription.get_status_display }}
                            </td>
                            <td>{{ subscription.expired_at|date:"d/m/Y" }} {{ subscription.last_interaction|time:"H:i:s" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Não existem assinaturas para essa conta</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}