[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
collectfast = "*"
dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
django-ordered-model = "*"
"django-s3-folder-storage" = "*"
django-storages = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
Pillow = "*"
ipython = "*"
django-sitemaps = "*"
django-role-permissions = "*"
mailchimp3 = "*"
responses = "*"
newrelic = "*"
pagarme-python = {editable = true,git = "https://github.com/pagarme/pagarme-python.git",ref = "master"}
sentry-sdk = "*"
python-dateutil = "*"

[dev-packages]
faker = "*"
"flake8" = "*"
freezegun = "*"
model-mommy = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-freezegun = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
