[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
collectfast = "*"
dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
django-ordered-model = "*"
"django-s3-folder-storage" = "*"
django-storages = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
Pillow = "*"
ipython = "*"
django-sitemaps = "*"
django-role-permissions = "*"
responses = "*"
newrelic = "*"
pagarme-python = "*"
sentry-sdk = "*"
python-dateutil = "*"
django-extensions = "*"
activecampaign-python = {git = "https://github.com/renzon/activecampaign-python.git",ref = "last-v1-api"}
codecov = "*"
django-bootstrap4 = "*"

[dev-packages]
faker = "*"
"flake8" = "*"
freezegun = "*"
model-mommy = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest = "*"
django-test-migrations = "*"

[requires]
python_version = "3.8"
