-r requirements.txt
coverage==4.5.2
Faker==1.0.0
flake8==3.6.0
freezegun==0.3.11
mccabe==0.6.1
model-mommy==1.6.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest-cov==2.6.0
pytest-django==3.4.4
pytest-freezegun==0.3.0
pytest-mock==1.10.0
pytest==4.0.1
text_unidecode==1.2
