-r requirements.txt
coverage==4.5.1
Faker==0.8.13
flake8==3.5.0
mccabe==0.6.1
py==1.5.3
pycodestyle==2.4.0
pyflakes==1.6.0
pytest==3.5.0
pytest-cov==2.5.1
pytest-django==3.1.2
freezegun==0.3.10
pytest-freezegun==0.2.0
model-mommy==1.5.1
text_unidecode==1.2
