boto3==1.7.60
botocore==1.12.1
Collectfast==0.6.2
dj_database_url==0.5.0
django-debug-toolbar==1.9.1
django-ordered-model==2.0.0
django-s3-folder-storage==0.5
django-storages==1.6.6
Django==2.0.7
docutils==0.14
gunicorn==19.8.1
jmespath==0.9.3
pillow==5.2.0
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-decouple==3.1
python_box==3.2.0
pytz==2018.5
raven==6.9.0
s3transfer==0.1.13
six==1.11.0
six==1.11.0
sqlparse==0.2.4
