-r requirements.txt
coverage==4.5.1
Faker==0.8.17
flake8==3.5.0
freezegun==0.3.10
mccabe==0.6.1
model-mommy==1.6.0
py==1.5.4
pycodestyle==2.4.0
pyflakes==2.0.0
pytest-cov==2.5.1
pytest-django==3.3.2
pytest-freezegun==0.2.0
pytest-mock==1.10.0
pytest==3.6.3
text_unidecode==1.2
