{% extends 'core/base_without_nav.html' %}
{% load static %}

{% block title %}Migração para nova plataforma{% endblock %}

{% block body %}
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-2">Migração para nova plataforma</h1>
                <h2></h2>
                <p>Olá {{ request.user.first_name }}.</p>
                <p>Ao clicar no botão abaixo sua conta será migrada para nossa nova plataforma.</p>
                <p>Você vai receber novas credenciais em seu email {{ request.user.email }}.</p>
                <form action="{% url 'migrate_to_memberkit' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Migrar &raquo;</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
