{% extends 'core/base.html' %}
{% load static %}
{% load permission_tags %}

{% block title %}Turma {{ cohort.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-3">Turma {{ cohort.title }}</h1>
                <img src="{{ cohort.image.url }}" class="rounded float-left mr-3" alt="Foto de {{ cohort.title }}"
                     width="300px" height="300px">
                <blockquote class="blockquote">
                    <p class="mb-0">"{{ cohort.quote }}"</p>
                    <footer class="blockquote-footer">{{ cohort.title }}
                    </footer>
                </blockquote>
                <dt>
                    Inicio:
                </dt>
                <dd>
                    {{ cohort.start }}
                </dd>
                <dt>
                    Fim:
                </dt>
                <dd>
                    {{ cohort.end }}
                </dd>
            </div>
        </div>
    {% if user|can:'access_cohorts' %}
        <div class="row">
            <div class="col">
                <h2 class="mt-5">Instruções</h2>
                <dt>Passo 1</dt>
{#                <dd>Cadastre-se na <a href="{{ cohort.mail_list }}" target="_blank">lista de emails da turma</a></dd>#}
{#                <dt>Passo 2</dt>#}
                <dd>Se apresente no <a href="{{ cohort.forum_post }}" target="_blank">post do fórum</a></dd>
                <dt>Passo 2</dt>
                <dd>Entre no nosso <a href="https://t.me/joinchat/DZ2HMkC_wRSHCm5YwIM1UQ" target="_blank">grupo do
                    Telegram</a> para tirar dúvidas e interagir!
                </dd>
            </div>
        </div>
    {% endif %}
        <div class="row">
            <div class="col">
                <h2 class="mt-5">Webinários</h2>
                {% for webinar in cohort.webinars %}

                    <h3 class="mt-4 mb-3"><a href="{{ webinar.get_absolute_url }}"
                                             target="_blank">{{ webinar.title }}</a></h3>
                    <img src="{{ webinar.image.url }}" class="rounded float-left mr-3"
                         alt="Foto de {{ webinar.speaker }}"
                         width="200px" height="200px">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ webinar.speaker }}</p>
                        <footer class="blockquote-footer">{{ webinar.speaker_title }}
                        </footer>
                    </blockquote>
                    <dt>
                        Data:
                    </dt>
                    <dd>
                        {{ webinar.start }}
                    </dd>
                    <dt>
                        Descrição:
                    </dt>
                    <dd>
                        {{ webinar.description|linebreaks }}
                    </dd>
                    <br/>

                {% endfor %}
            </div>

        </div>


        <div class="row">
            <div class="col">
                <h2 class="mt-5 mb-3">Aulas ao Vivo</h2>
                {% for class in cohort.classes %}
                    <h3 class="mt-4 mb-3"><a href="{{ class.get_absolute_url }}"
                                             target="_blank">{{ class.start }}</a></h3>
                    <dt>
                        Descrição:
                    </dt>
                    <dd>
                        {{ class.description|linebreaks }}
                    </dd>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
