{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ live_class.title }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-3">Aula da Turma <a
                        href="{{ live_class.cohort.get_absolute_url }}">{{ live_class.cohort.title }}</a></h1>
                <p>Aula Gravada em {{ live_class.start }}</p>
                <p>{{ live_class.description|linebreaks }}</p>
                <div class="embed-container mb-3">
                    <iframe src="https://player.vimeo.com/video/{{ live_class.vimeo_id }}" width="640" height="360"
                            frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <div id='discourse-comments'></div>
                <script type="text/javascript">
                    DiscourseEmbed = {
                        discourseUrl: '{{ DISCOURSE_BASE_URL }}',
                        topicId: {{ live_class.discourse_topic_id }}
                    };

                    (function () {
                        var d = document.createElement('script');
                        d.type = 'text/javascript';
                        d.async = true;
                        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                    })();
                </script>

            </div>
        </div>
    </div>
{% endblock body %}
