{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ webinario.title }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-1">Webinários</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                {% for webinar in webinars %}

                    <h2 class="mt-4 mb-3"><a href="{{ webinar.get_absolute_url }}"
                                             target="_blank">{{ webinar.title }}</a></h2>
                    <img src="{{ webinar.image.url }}" class="rounded float-left mr-3"
                         alt="Foto de {{ webinar.speaker }}"
                         width="200px" height="200px">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ webinar.speaker }}</p>
                        <footer class="blockquote-footer">{{ webinar.speaker_title }}
                        </footer>
                    </blockquote>
                    <dt>
                        Data:
                    </dt>
                    <dd>
                        {{ webinar.start|date:"d/M/Y" }}
                    </dd>
                    <dt>
                        Descrição:
                    </dt>
                    <dd>
                        {{ webinar.description|linebreaks }}
                    </dd>
                    <br/>


                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
