.pythonpro-title {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 6em;
    color: #15b3f1;
    text-align: center;
}

.pythonpro-title .python {
    color: #9fd25f;
}

.pythonpro-subtitle {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #999999;
}

.colors-pallet {
    position: absolute;
}

.pallet {
    float: left;
    width: 55px;
}

.pallet.color-1 {
    background-color: #15b3f1;
    height: 260px;
}

.pallet.color-2 {
    background-color: #178eee;
    height: 230px;
}

.pallet.color-3 {
    background-color: #ffcc29;
    height: 200px;
}

.pallet.color-4 {
    background-color: #9fd25f;
    height: 170px;
}

.main-footer {
    background-color: #9fd25f;
}

.rights {
    background-color: #82b641;
}