{% extends 'core/base.html' %}
{% load static %}

{% block title %}Começar metas do módulo {{ module.title }}{% endblock %}
{% block description %}Expliação de sistema de metas do módulo {{ topic.description }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-3">Metas ativadas para o módulo {{ module.title }}</h1>
                <p>Você receberá emails semanais para te ajudar a terminar esse módulo. Serão 4 semanas no total</p>
                <p>Em instantes você já receberá o primeiro. Confira sua caixa de spam</p>
            </div>
        </div>
    </div>
{% endblock body %}
