{% extends 'core/base.html' %}
{% load static %}
{% load permission_tags %}
{% block title %}Módulos do Curso Dev Pro{% endblock %}
{% block description %}Listagem de todos os 7 cursos que compõem o curso Dev Pro visando a formação profissional dos
    alunos{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-2">Todos os Cursos</h1>

        <div class="row">
            {% for module in modules %}
                <div class="col-sm-4 mt-3 mb-2">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <b>{{ module.title }}</b>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Objetivo</h5>
                            <p class="card-text">{{ module.objective |truncatechars:75 }}</p>
                            <a href="{% url 'modules:description' slug=module.slug %}" class="btn btn-secondary">Saiba
                                Mais</a>
                            {% if module.has_access %}
                                <a href="{{ module.get_absolute_url }}" class="btn btn-success"> Acessar</a>
                            {% else %}
                                <a href="{{ module.purchase_link }}" class="btn btn-success"> Eu quero!</a>
                            {% endif %}

                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}
