{% load django_pagarme %}
{% load static %}

<div class="summary-main__group__price">
<h3 class="summary-main__group__price__title fw-800 text-uppercase text-blue font-highlighted">Tenha acesso a tudo isso por apenas
    {{ no_discount_item_config.max_installments}}x de {{ no_discount_item_config.max_installment_amount_after_interest|cents_to_brl }}</h3>
<h4 class="summary-main__group__price__subtitle fw-400">(ou apenas {{ no_discount_item_config.price|cents_to_brl }} se você comprar à vista)</h4>

{% if has_first_day_discount or has_client_discount %}
<h5 class="summary-main__group__price__description text-uppercase fw-800 font-highlighted text-blue">Mas calma! Você tem direito a <span class="text-uppercase">descontos</span>!</h5>
{%  if has_first_day_discount %}
<div class="summary-main__group__price__group summary-main__group__price__group--top">
    <div class="summary-main__group__price__group__info">
    <img class="summary-main__group__price__group__info__icon" src="{% static 'img/spp/summary-main/summary-price-icon.jpg' %}" alt="Ícone com símbolo de porcentagem com fundo transparente e bordas verdes">
    <h6 class="summary-main__group__price__group__info__title fw-700 text-uppercase text-blue font-highlighted">Promoção do dia de hoje</h6>
    </div>

    <div class="summary-main__group__price__group__value">
    <p class="summary-main__group__price__group__value__title fw-700 text-uppercase text-blue font-highlighted">{{ first_day_discount| cents_to_brl}}</p>
    <img class="summary-main__group__price__group__value__icon" src="{% static 'svg/spp/x-price-icon.svg' %}" alt="Imagem de um 'X' na cor vermelha">
    </div>
</div>
{% endif %}
{% if has_client_discount %}


<div class="summary-main__group__price__group">
    <div class="summary-main__group__price__group__info">
    <img class="summary-main__group__price__group__info__icon" src="{% static 'img/spp/summary-main/summary-price-icon.jpg' %}" alt="Ícone com símbolo de porcentagem com fundo transparente e bordas verdes">
    <h6 class="summary-main__group__price__group__info__title fw-700 text-uppercase text-blue font-highlighted">Promoção para quem é cliente Django Pro</h6>
    </div>

    <div class="summary-main__group__price__group__value">
    <p class="summary-main__group__price__group__value__title fw-700 text-uppercase text-blue font-highlighted">{{ client_discount| cents_to_brl}}</p>
    <img class="summary-main__group__price__group__value__icon" src="{% static 'svg/spp/x-price-icon.svg' %}" alt="Imagem de um 'X' na cor vermelha">
    </div>
</div>
{% endif %}

<div class="summary-main__group__price__group summary-main__group__price__group--bottom">
    <div class="summary-main__group__price__group__info">
    <h6 class="summary-main__group__price__group__info__title fw-700 text-uppercase text-green font-highlighted">Preço final</h6>
    </div>

    <div class="summary-main__group__price__group__value">
    <p class="summary-main__group__price__group__value__final fw-800 text-uppercase text-green font-highlighted"><small>{{ payment_item_config.max_installments }}x </small>{{ payment_item_config.max_installment_amount_after_interest|cents_to_brl }}</p>
    </div>
</div>
</div>
{% endif %}

{#{% if not user.is_authenticated %}#}
{#<div>#}
{#    <h4 class="summary-main__group__price__login fw-400">#}
{#        (Se você comprou o Django Pro,#}
{#        <a class="text-blue"#}
{#            href="{% url 'two_factor:login' %}?next={% url 'checkout:bootcamp_lp' %}"#}
{#            >faça o login</a>#}
{#        para ganhar um desconto)#}
{#    </h4>#}
{#</div>#}
{#{% endif %}#}

<div class="header-main__group__button">
<a href="#" class="header-main__group__button__item text-uppercase fw-700 main-transition" rel="noopener noreferrer" data-toggle="modal" data-target="#modal-waiting-capture">Sim, eu quero me tornar um profissional!</a>
</div>