{% extends "launch/landing_page.html" %}
{% load static %}
{% load django_pagarme %}
{% load bootstrap4 %}

{% block title %}MATRÍCULAS ESGOTADAS. Bootcamp Python Pro{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/spp/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/spp/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/spp/magnific-popup.min.css' %}" rel="stylesheet">
{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://www.python.pro.br/inscricao" />
  <meta name="twitter:title" content="Saiba com obter acesso a um mercado que paga altos salários e tem milhares de vagas em aberto!" />
  <meta name="twitter:description" content="Conheça o Método que vai te levar de 0 a 100 na linguagem Python e te tranformar em um Programador Profissional. Tudo isso em Pouco Tempo!" />
  <meta property="twitter:image" content="{% static 'img/spp/card-python-pro.png' %}" />
  <meta property="og:url" content="https://www.python.pro.br/inscricao" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Saiba com obter acesso a um mercado que paga altos salários e tem milhares de vagas em aberto!" />
  <meta property="og:site_name" content="Saiba com obter acesso a um mercado que paga altos salários e tem milhares de vagas em aberto!" />
  <meta property="og:description" content="Conheça o Método que vai te levar de 0 a 100 na linguagem Python e te tranformar em um Programador Profissional. Tudo isso em Pouco Tempo!" />
  <meta property="og:image" content="{% static 'img/spp/card-python-pro.png' %}" />
  {% endblock %}

{% block body %}
    {% include 'launch/_whatsapp_widget.html' %}
    <header class="header-main">
        <div class="header-main__group text-center">
        <h1 class="header-main__group__title text-uppercase fw-800 font-highlighted">
            AS MATRÍCULAS ESTÃO ESGOTADAS!
            <br>ENTRE NA LISTA DE ESPERA.
        </h1>
        
        <h2 class="header-main__group__subtitle fw-300">
            Para ser avisado sobre a próxima turma, basta preencher os campos abaixo e você entrará na lista de espera:
        </h2>

        <form method="post" action="{% url 'checkout:membership_lp' %}">
            {% csrf_token %}
            {% bootstrap_form form %}    
            <button class="header-main__group__button__item text-uppercase fw-700 main-transition" rel="noopener noreferrer" data-toggle="modal" data-target="#modal-waiting-capture">Entrar na lista de espera</button>
        </form>

        
        </div>

    </header>

    <main role="main">
        <section class="method-main">
        <div class="method-main__group">
            <h2 class="method-main__group__title fw-300 text-blue text-uppercase font-highlighted">Conheça o método que vai te levar de <span class="fw-800">0 a 100 na linguagem Python e te transformar em um programador profissional. <span class="text-green">Tudo isso em pouco tempo!</span></span></h2>

            <div class="method-main__boxes">
            <div class="method-main__boxes__item">
                <span class="method-main__boxes__item__number fw-100 text-green font-highlighted">01</span>
                <h3 class="method-main__boxes__item__title text-uppercase font-highlighted fw-700 text-blue">Um problema real para ser resolvido</h3>
                <p class="method-main__boxes__item__description fw-400">Eu vou te apresentar um problema real para que você resolva.</p>
                <p class="method-main__boxes__item__description fw-400">Nesta turma eu vou te ensinar como fazer uma integração de um sistema já construído com um meio de pagamento online.</p>
            </div>

            <div class="method-main__boxes__item">
                <span class="method-main__boxes__item__number fw-100 text-green font-highlighted">02</span>
                <h3 class="method-main__boxes__item__title method-main__boxes__item__title--2 text-uppercase font-highlighted fw-700 text-blue">Começar a programar para resolver esse problema</h3>
                <p class="method-main__boxes__item__description fw-400">Eu vou abrir meu notebook, compartilhar minha tela com você e ir te mostrando, passo a passo, como vamos fazer para construir, juntos, essa integração.</p>
                <p class="method-main__boxes__item__description fw-400">Além disso, você vai colocar a mão na massa e repetir tudo o que eu te ensinei.</p>
            </div>

            <div class="method-main__boxes__item">
                <span class="method-main__boxes__item__number fw-100 text-green font-highlighted">03</span>
                <h3 class="method-main__boxes__item__title method-main__boxes__item__title--3 text-uppercase font-highlighted fw-700 text-blue">Interação com colegas programadores para ajudar nas dúvidas que vão surgir</h3>
                <p class="method-main__boxes__item__description fw-400">Conforme você for programando, as dúvidas vão surgir. Aqui você vai aprender a como sanar essas dúvidas.</p>
                <p class="method-main__boxes__item__description fw-400">Você vai procurar na internet por pessoas que já tiveram a mesma dúvida que você, vai também procurar no nosso fórum e, caso não ache, vai colocar sua dúvida por lá e eu, minha equipe e antigos alunos vamos te ajudar!</p>
            </div>
            </div>
        </div>
        </section>

        <section class="content-main">
        <div class="content-main__detail-left"></div>
        <div class="content-main__detail-right"></div>

        <div class="content-main__group">
            <div class="row">
            <div class="col">
                <div class="tabs">
                <div class="tab">
                    <div class="tab-detail"></div>
                    <input type="checkbox" id="content1" checked>
                    <label class="tab-label main-transition text-uppercase font-highlighted fw-800" for="content1">Fundamentos do Python</label>
                    <div class="tab-content main-transition">
                    <div class="tab-content__group">
                        <div class="tab-content__group__description">
                        <h2 class="tab-content__group__description__title fw-700 font-highlighted text-uppercase text-blue">Descrição</h2>
                        <p class="tab-content__group__description__description fw-300">No curso Python Birds você vai aprender como o Python é maravilhoso. Você irá aprender os conceitos básicos da programação e entender como é fácil e rápido programar com essa linguagem.</p>
                        <p class="tab-content__group__description__description fw-300">E o melhor de tudo, tudo isso dentro de um cenário real: Você vai aprender Python criando uma versão simplificada do jogo Angry Birds!</p>
                        </div>

                        <div class="tab-content__group__disclaimer">
                        <h2 class="tab-content__group__disclaimer__title fw-700 font-highlighted text-uppercase text-blue">Ementa</h2>

                        <div class="tab-content__group__disclaimer__row">
                            <div class="tab-content__group__disclaimer__1">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Programação Procedural</h3>
                            <ul>
                                <li>Introdução</li>
                                <li>Tipos Básicos</li>
                                <li>Containers e Iteração</li>
                                <li>Modularização</li>
                            </ul>
                            </div>
    
                            <div class="tab-content__group__disclaimer__2">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Orientação a Objetos</h3>
                            <ul>
                                <li>Classe e Composição</li>
                                <li>Herança</li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="tab">
                    <div class="tab-detail"></div>
                    <input type="checkbox" id="content2" checked>
                    <label class="tab-label main-transition text-uppercase font-highlighted fw-800" for="content2">Ferramentas de Desenvolvimento de Software</label>
                    <div class="tab-content main-transition">
                    <div class="tab-content__group">
                        <div class="tab-content__group__description">
                        <h2 class="tab-content__group__description__title fw-700 font-highlighted text-uppercase text-blue">Descrição</h2>
                        <p class="tab-content__group__description__description fw-300">No curso PyTools você vai aprender como equipes de programadores trabalham e colaboram entre si. Assim, você vai poder finalmente ter a capacidade de ser um deles!</p>
                        <p class="tab-content__group__description__description fw-300">Você vai aprender a trabalhar com a ferramenta que todo mundo usa para versionar código e contribuir com projetos de desenvolvimento de software: o Git.</p>
                        <p class="tab-content__group__description__description fw-300">Você também vai aprender como desenvolver utilizando testes automatizados. Assim você terá um software que não tenha bugs e que seja simples de adicionar novas funcionalidades.</p>
                        <p class="tab-content__group__description__description fw-300">Você vai aprender como manter o ambiente do seu projeto totalmente organizado e replicado. Assim, seu software vai funcionar na sua máquina e também no servidor de produção!</p>
                        </div>

                        <div class="tab-content__group__disclaimer">
                        <h2 class="tab-content__group__disclaimer__title fw-700 font-highlighted text-uppercase text-blue">Ementa</h2>

                        <div class="tab-content__group__disclaimer__row">
                            <div class="tab-content__group__disclaimer__1">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Criação de projetos</h3>
                            <ul>
                                <li>Afinando o Machado - Git</li>
                                <li>Isolando o Ambiente</li>
                                <li>Gestão de Dependências</li>
                                <li>Publicação do Pacote</li>
                            </ul>
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Pipenv</h3>
                            <ul>
                                <li>Instalação e Princípios Básicos</li>
                                <li>Atualizando Projeto Legado</li>
                            </ul>
                            </div>
    
                            <div class="tab-content__group__disclaimer__2">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Testes automáticos</h3>
                            <ul>
                                <li>Framework Pytest</li>
                                <li>Pytest Features</li>
                                <li>Injeção de Dependências</li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="tab">
                    <div class="tab-detail"></div>
                    <input type="checkbox" id="content3" checked>
                    <label class="tab-label main-transition text-uppercase font-highlighted fw-800" for="content3">Framework Django</label>
                    <div class="tab-content main-transition">
                    <div class="tab-content__group">
                        <div class="tab-content__group__description">
                        <h2 class="tab-content__group__description__title fw-700 font-highlighted text-uppercase text-blue">Descrição</h2>
                        <p class="tab-content__group__description__description fw-300">No curso de Django, você vai aprender a utilizar o framework mais utilizado da linguagem Python, o Django!</p>
                        <p class="tab-content__group__description__description fw-300">O Django é um framework que vai te ajudar a construir sistemas web de uma forma simples, rápida, segura e escalável.</p>
                        <p class="tab-content__group__description__description fw-300">O Django é um dos pioneiros do conceito "Don't Repeat Yourself", que, em português significa "Não se repita". Você vai construir sistemas poderosos com poucas linhas de código, pois o Django se responsabiliza para você não precisar repetir código!</p>
                        </div>

                        <div class="tab-content__group__disclaimer">
                        <h2 class="tab-content__group__disclaimer__title fw-700 font-highlighted text-uppercase text-blue">Ementa</h2>

                        <div class="tab-content__group__disclaimer__row">
                            <div class="tab-content__group__disclaimer__1">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Twelve Factor App</h3>
                            <ul>
                                <li>Entrega Contínua</li>
                                <li>Configurações de Projeto</li>
                                <li>Arquivos Estáticos e Upload de Arquivos</li>
                                <li>Migrações e Customização de Usuário</li>
                                <li>Backup, Debug, Sentry e Conclusão</li>
                            </ul>

                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Autenticação de Usuários</h3>
                            <ul>
                                <li>Autenticação e Autorização</li>
                            </ul>
                            </div>

                            <div class="tab-content__group__disclaimer__2">
                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Frontend e E-mails</h3>
                            <ul>
                                <li>Landing Page</li>
                                <li>Integrações Simples</li>
                                <li>HTTP e Templates</li>
                            </ul>

                            <h3 class="tab-content__group__disclaimer__1__title text-green fw-700">Banco de Dados</h3>
                            <ul>
                                <li>Instalação e Fundamentos</li>
                                <li>Testes com Banco de Dados</li>
                                <li>Criação de App de Módulos de Aulas</li>
                                <li>Relacionamento Muitos para Um</li>
                                <li>Como Escapar das Armadilhas do ORM</li>
                                <li>Relacionamento de Muitos para Muitos</li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                
                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="testimonials-classes testimonials-classes--main">
        <div class="testimonials-classes__group">
            <h2 class="testimonials-classes__group__title text-blue fw-700 font-highlighted text-uppercase text-center">Já são vários alunos transformados</h2>

            <div class="testimonials-classes__group__people testimonials-classes__group__people--mobile owl-carousel">
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=Fpq-T9lApho">
                <img src="{% static 'img/social-proof/tanio.png' %}" alt="Card do vídeo 1 - Tanio">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNsU9KLVkoM&">
                <img src="{% static 'img/social-proof/isaac.webp' %}" alt="Card do vídeo 24 - Isaac Ferreira">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=p-7b3LYxXPc">
                <img src="{% static 'img/social-proof/fabricio.webp' %}" alt="Card do vídeo 8 - Fabrício Aguiar">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SvM33abGWMw">
                <img src="{% static 'img/social-proof/pablo.png' %}" alt="Card do vídeo 9 - Pablo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=EzxzGFQXQYQ">
                <img src="{% static 'img/social-proof/ronaldo-oliveira.png' %}" alt="Card do vídeo 20 - Ronaldo Oliveira">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=i-P3S6sTOzA">
                <img src="{% static 'img/social-proof/charles-tenorio.png' %}" alt="Card do vídeo 18 - Charles Tenório">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=B82STg6siYA">
                <img src="{% static 'img/social-proof/marcelo-andreoli.png' %}" alt="Card do vídeo 12 - Marcelo Andrioli">
            </a>
            
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OfFN_WjTYqM">
                <img src="{% static 'img/social-proof/alisson-americo-1.png' %}" alt="Card do vídeo 17 - Alison Américo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=90lX76GH2y0">
                <img src="{% static 'img/social-proof/guido-percu.png' %}" alt="Card do vídeo 4 - Guido Percú">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=LgosbGSJ5fI">
                <img src="{% static 'img/social-proof/paulo.png' %}" alt="Card do vídeo 10 - Paulo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=nUZGmihUy1o">
                <img src="{% static 'img/social-proof/jorge-plautz.png' %}" alt="Card do vídeo 11 - Jorge Luiz">
            </a>
            
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SwGDBRrjyf0">
                <img src="{% static 'img/social-proof/diego.webp' %}" alt="Card do vídeo 2 - Diego Sorrilha">
            </a>        

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=uWokzyDsWsQ">
                <img src="{% static 'img/social-proof/marcus-vinicius.png' %}" alt="Card do vídeo 13 - Marcos Vinícius">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OU8mLyjX-y0">
                <img src="{% static 'img/social-proof/carlos-augusto.png' %}" alt="Card do vídeo 14 - Carlos Augusto Moreno">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=COUA7lbKZn8">
                <img src="{% static 'img/social-proof/jasiel.png' %}" alt="Card do vídeo 15 - Jasiel">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=5FAditPNynA">
                <img src="{% static 'img/social-proof/vinicius-assef.png' %}" alt="Card do vídeo 16 - Vinicius Assef">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNgfS9Ohwac">
                <img src="{% static 'img/social-proof/marcelo.webp' %}" alt="Card do vídeo 3 - Marcelo Del Fiore">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=TtlB4E7_MZM">
                <img src="{% static 'img/social-proof/ferrabras.webp' %}" alt="Card do vídeo 6 - Tiago Cordeiro">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=faruwyQcbWY">
                <img src="{% static 'img/social-proof/maria-elisa.png' %}" alt="Card do vídeo 19 - Elisa">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=0HP2nS44Ip4">
                <img src="{% static 'img/social-proof/alysson.webp' %}" alt="Card do vídeo 5 - Alison Américo">
            </a>            

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=3S22WWkOJRo">
                <img src="{% static 'img/social-proof/rafael-ramos.png' %}" alt="Card do vídeo 21 - Rafinha Ramos">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=VSW4SY395Mo">
                <img src="{% static 'img/social-proof/regis-silva.png' %}" alt="Card do vídeo 22 - Régis Silva">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=NXqsyoWalO8">
                <img src="{% static 'img/social-proof/ricardo-portela.png' %}" alt="Card do vídeo 23 - Ricardo Portela">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=avyZ4WjluEo">
                <img src="{% static 'img/social-proof/vinicius.webp' %}" alt="Card do vídeo 7 - Vinicius Mesel">
            </a>
        </div>

        <div class="testimonials-classes__group__people testimonials-classes__group__people--desktop">
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=Fpq-T9lApho">
                <img src="{% static 'img/social-proof/tanio.png' %}" alt="Card do vídeo 1 - Tanio">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNsU9KLVkoM&">
                <img src="{% static 'img/social-proof/isaac.webp' %}" alt="Card do vídeo 24 - Isaac Ferreira">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=p-7b3LYxXPc">
                <img src="{% static 'img/social-proof/fabricio.webp' %}" alt="Card do vídeo 8 - Fabrício Aguiar">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SvM33abGWMw">
                <img src="{% static 'img/social-proof/pablo.png' %}" alt="Card do vídeo 9 - Pablo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=EzxzGFQXQYQ">
                <img src="{% static 'img/social-proof/ronaldo-oliveira.png' %}" alt="Card do vídeo 20 - Ronaldo Oliveira">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=i-P3S6sTOzA">
                <img src="{% static 'img/social-proof/charles-tenorio.png' %}" alt="Card do vídeo 18 - Charles Tenório">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=B82STg6siYA">
                <img src="{% static 'img/social-proof/marcelo-andreoli.png' %}" alt="Card do vídeo 12 - Marcelo Andrioli">
            </a>
            
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OfFN_WjTYqM">
                <img src="{% static 'img/social-proof/alisson-americo-1.png' %}" alt="Card do vídeo 17 - Alison Américo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=90lX76GH2y0">
                <img src="{% static 'img/social-proof/guido-percu.png' %}" alt="Card do vídeo 4 - Guido Percú">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=LgosbGSJ5fI">
                <img src="{% static 'img/social-proof/paulo.png' %}" alt="Card do vídeo 10 - Paulo">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=nUZGmihUy1o">
                <img src="{% static 'img/social-proof/jorge-plautz.png' %}" alt="Card do vídeo 11 - Jorge Luiz">
            </a>
            
            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SwGDBRrjyf0">
                <img src="{% static 'img/social-proof/diego.webp' %}" alt="Card do vídeo 2 - Diego Sorrilha">
            </a>        

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=uWokzyDsWsQ">
                <img src="{% static 'img/social-proof/marcus-vinicius.png' %}" alt="Card do vídeo 13 - Marcos Vinícius">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OU8mLyjX-y0">
                <img src="{% static 'img/social-proof/carlos-augusto.png' %}" alt="Card do vídeo 14 - Carlos Augusto Moreno">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=COUA7lbKZn8">
                <img src="{% static 'img/social-proof/jasiel.png' %}" alt="Card do vídeo 15 - Jasiel">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=5FAditPNynA">
                <img src="{% static 'img/social-proof/vinicius-assef.png' %}" alt="Card do vídeo 16 - Vinicius Assef">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNgfS9Ohwac">
                <img src="{% static 'img/social-proof/marcelo.webp' %}" alt="Card do vídeo 3 - Marcelo Del Fiore">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=TtlB4E7_MZM">
                <img src="{% static 'img/social-proof/ferrabras.webp' %}" alt="Card do vídeo 6 - Tiago Cordeiro">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=faruwyQcbWY">
                <img src="{% static 'img/social-proof/maria-elisa.png' %}" alt="Card do vídeo 19 - Elisa">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=0HP2nS44Ip4">
                <img src="{% static 'img/social-proof/alysson.webp' %}" alt="Card do vídeo 5 - Alison Américo">
            </a>            

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=3S22WWkOJRo">
                <img src="{% static 'img/social-proof/rafael-ramos.png' %}" alt="Card do vídeo 21 - Rafinha Ramos">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=VSW4SY395Mo">
                <img src="{% static 'img/social-proof/regis-silva.png' %}" alt="Card do vídeo 22 - Régis Silva">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=NXqsyoWalO8">
                <img src="{% static 'img/social-proof/ricardo-portela.png' %}" alt="Card do vídeo 23 - Ricardo Portela">
            </a>

            <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=avyZ4WjluEo">
                <img src="{% static 'img/social-proof/vinicius.webp' %}" alt="Card do vídeo 7 - Vinicius Mesel">
            </a>
            </div>
        </div>
        </section>

        <section class="renzo renzo--main">
        <img class="renzo__img__mobile" src="{% static 'img/spp/renzo-main/renzo-nuccitelli-mobile.png' %}" alt="Renzo Nuccitelli com braços cruzados, olhando para foto. Fundo verde abacate com códigos escritos em branco. Imagem pequena">
        <img class="renzo__img__desktop" src="{% static 'img/spp/renzo/about-renzo-nuccitelli-desktop.png' %}" alt="Renzo Nuccitelli com braços cruzados, olhando para foto. Fundo verde abacate com códigos escritos em branco. Imagem grande">

        <div class="renzo__group">
            <span class="renzo__group__about text-uppercase text-green fw-700">Conheça o professor</span>
            <h2 class="renzo__group__title fw-400 text-gray"><span class="text-blue text-uppercase font-highlighted fw-900">Olá! Eu me chamo</span> <span class="text-green text-uppercase font-highlighted fw-900">Renzo Nuccitelli,</h2>
            <div class="scroll-bar">
            <h3 class="renzo__group__description renzo__group__description text-gray fw-400"><span class="text-green">Sou programador há 13 anos.</span> Já fui diretor de tecnologia em duas empresas e também trabalhei na maior empresa de software aberto do mundo, a Red Hat. Também já fui consultor de diversas outras empresas, como o Hotel Urbano.</h3>
            <h3 class="renzo__group__description renzo__group__description text-gray fw-400">Já palestrei em diversos enventos de tecnologia, como Python Brasil, GDG, Agile Vale e muitos outros.</h3>
            <h4 class="renzo__group__description text-green fw-400">Meu sonho sempre foi que as pessoas pudessem construir as mesmas oportunidades que construí...</h4>
            <h4 class="renzo__group__description text-gray fw-400">Sou Engenheiro de Computação formado pelo ITA. Especialista em programação web.</h4>
            <h4 class="renzo__group__description text-gray fw-400">Fui Diretor de Tecnologia na startup de educação QMagico e Pricez, onde estruturei os times de tecnologia e todo Processo de desenvolvimento.</h4>
            <h4 class="renzo__group__description text-gray fw-400">Sou apaixonado por dar aulas, fui professor da Fatec durante 4 anos onde ministrou as matérias de "Orientação a Objetos" e "Aplicações para Internet", "Estrutura de Dados" e "Javascript". Já palestrou em eventos como Pycon US, Google Developer Bus, DevFest, Rupy e Python Brasil.</h4>
            <h4 class="renzo__group__description text-gray fw-400">Especialista em teste automáticos, fui Engenheiro de Qualidade Senior na Red Hat durante 2 anos.</h4>
            </div>
        </div>
        </section>

        <section class="faq-main">
        <div class="faq-main__group">
            <h2 class="faq-main__group__title text-uppercase text-blue fw-800 font-highlighted">Ficou com alguma dúvida?</h2>
            <h3 class="faq-main__group__subtitle fw-300">As perguntas mais comuns estão listadas aqui embaixo. Caso você não encontre sua dúvida respondida, clique no botão ali no canto direito e fale com o nosso suporte.</h3>

            <div class="row">
            <div class="col">
                <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="faq4">
                    <label class="tab-label main-transition" for="faq4">Preciso de ajuda, com quem eu falo?</label>
                    <div class="tab-content main-transition">
                    <p>Entre em contato com o nosso suporte clicando no botão verde que está aparecendo no canto
                    inferior direito da sua tela. Ou então através do email suporte@python.pro.br, do WhatsApp 
                    (84) 99419-4414, ou através do Telegram no @suporte_pythonpro.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq10">
                    <label class="tab-label main-transition" for="faq10">É necessário diploma para conseguir uma vaga?</label>
                    <div class="tab-content main-transition">
                    <p>A área de tecnologia não é regulamentada, portanto não há necessidade formação superior para poder atuar. Existem, inclusive, várias pessoas atuando sem diploma.</p>
                    <p>Além disso a faculdade demora muito e não te prepara para o mercado. No curso o estudo será mais prático e objetivo, dirigido para os assuntos que as empresas realmente valorizam.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq12">
                    <label class="tab-label main-transition" for="faq12">Existem plataformas com cursos mais baratos, porquê investir no Python Pro?</label>
                    <div class="tab-content main-transition">
                    <p>Plataformas não apresentam um caminho completo e organizado de conceitos necessários para atuar no mercado.</p>
                    <p>Além disso os instrutores não acompanham o aluno na caminhada, retirando dúvidas rapidamente e até ajudando em projetos e problemas reais.</p>
                    <p>Também não dão acesso a uma comunidade pronta para ajudar, onde normalmente são abertas as primeiras portas no setor.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq17">
                    <label class="tab-label main-transition" for="faq17">O curso emite certificado?</label>
                    <div class="tab-content main-transition">
                    <p>Sim, todos os nossos cursos são modularizados e cada módulo representa um certificado específico a ser emitido com os dados de desempenho do acompanhamento das aulas pelo aluno. Ao se logar no módulo do curso o aluno tem acesso a um Dashboard, onde pode acompanhar o desempenho e o avanço dos estudos. O sistema vai consolidando o seu avanço e seu certificado vai sendo construído conforme o andamento dos estudos. O próprio aluno pode gerar o seu certificado em seu Dashboard de acompanhamento.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq13">
                    <label class="tab-label main-transition" for="faq13">Ainda não sou da área de tecnologia. Consigo mudar de área?</label>
                    <div class="tab-content main-transition">
                    <p>Sim! Temos diversos alunos que conseguiram. Já vi professor de antropologia, professor de filosofia, vendedor, dono de supermercado e advogado virarem programadores.</p>
                    <p>Qualquer um pode aprender a programar!</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq1">
                    <label class="tab-label main-transition" for="faq1">É possível parcelar o valor no boleto?</label>
                    <div class="tab-content main-transition">
                    <p>Infelizmente não. Só é possível pagar o valor parcelado através de cartão de crédito.</p>
                    <p>Porém, trabalhamos em parceria com a Provi, uma empresa especializada em crédito estudantil. Para mais
                    informações, contate o nosso suporte pelo número (84) 99419-4414</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq3">
                    <label class="tab-label main-transition" for="faq3">Os meus dados pessoais e os dados do meu cartão de crédito estão seguros?</label>
                    <div class="tab-content main-transition">
                    <p>Sim. Toda a transação é realizada pela plataforma 100% segura do Pagarme. Todos os seus dados são confidenciais e criptografados, impedindo qualquer tipo de fraude ou roubo de dados.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq2">
                    <label class="tab-label main-transition" for="faq2">Vou receber alguma coisa na minha casa?</label>
                    <div class="tab-content main-transition">
                    <p>Não. Você não receberá nada na sua casa. O conteúdo das aulas são 100% online e podem ser acessados do computador, tablet ou celular.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq5">
                    <label class="tab-label main-transition" for="faq5">Como eu receberei meu acesso as vídeo-aulas?</label>
                    <div class="tab-content main-transition">
                    <p>Se você pagar por boleto, o pagamento vai demorar até 3 dias úteis para cair em nosso sistema, depois que vc realizar o pagamento. Depois do pagamento confirmado, você receberá um e-mail automático para poder acessar todo conteúdo.</p>
                    <p>Caso você pague no cartão, o sistema já contabilizará a venda e você receberá esse e-mail em questão de minutos.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq6">
                    <label class="tab-label main-transition" for="faq6">O que acontece caso eu não me adapte às aulas ou não goste do curso?</label>
                    <div class="tab-content main-transition">
                    <p>Eu devolvo 100% do seu dinheiro. Eu resolvi colocar uma garantia incondicional de 30 dias a sua disposição.</p>
                    <p>Isso significa que você poderá comprar o curso agora mesmo, consumir todas as aulas e se em até 30 dias você desistir, basta mandar um e-mail para mim que eu devolvo 100% do seu investimento.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq15">
                    <label class="tab-label main-transition" for="faq15">Já sei programar, o curso acrescenta em alguma coisa?</label>
                    <div class="tab-content main-transition">
                    <p>Temos módulos avançados, como "Objetos Pythônicos", "Python Patterns" e "Python para Pythonistas", que, com certeza, irão acrescentar muito ao seu know-how técnico da linguagem.</p>
                    <p>Além disso, temos uma forte comunidade composta de pessoas com muita experiência em diversas áreas. Elas te ajudam no dia a dia tanto com questões técnicas, quanto com questões não-técnicas como dicas de negociação salarial, malícia de mercado e dicas de oportunidades novas de trabalho, incluindo na gringa.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq7">
                    <label class="tab-label main-transition" for="faq7">Moro no exterior e não consigo pagar o curso via meio de pagamento tradicional, o que faço?</label>
                    <div class="tab-content main-transition">
                    <p>Entre em contato com o nosso suporte através do email suporte@python.pro.br, ou do WhatsApp (84) 99419-4414</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq8">
                    <label class="tab-label main-transition" for="faq8">E se eu não conseguir entrar para o mercado de trabalho</label>
                    <div class="tab-content main-transition">
                    <p>Realmente não há garantia de que você consiga uma vaga depois de fazer o curso. Entretanto, vários alunos que não sabiam programar e se dedicaram conseguiram.</p>
                    <p>Você está disposto a se dedicar? Se sim, as chances de você conseguir uma vaga serão muito maiores. Agora, existe uma coisa que é 100% de verdade: se você não se dedicar e não fazer nada, você não será contratado.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq11">
                    <label class="tab-label main-transition" for="faq11">Eu tenho pouco tempo disponível, ainda sim vou conseguir fazer o curso?</label>
                    <div class="tab-content main-transition">
                    <p>Fizemos o acesso vitalício ao material justamente para você ajustar o curso à sua vida, e não ao contrário. Então você vai poder avançar em sua velocidade, mesmo que tenha pouco tempo para estudar.</p>
                    <p>Como o estudo é focado no mercado, vc vai ter conteúdo curado para chegar mais rápido nas vagas do que por um caminho tradicional (faculdade).</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq9">
                    <label class="tab-label main-transition" for="faq9">Não tenho agenda para acompanhar as aulas ao vivo, melhor esperar?</label>
                    <div class="tab-content main-transition">
                    <p>Todas aulas são gravadas para você ver e rever quando quiser. Além disso o acesso ao curso e a plataforma é vitalício. Então, você pode começar os estudos agora e acompanhar as aulas ao vivo através das gravações, além de poder participar (ao vivo, inclusive) de todas as próximas.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq14">
                    <label class="tab-label main-transition" for="faq14">Tenho idade avançada, consigo aprender a programar? Contratam pessoas mais velhas?</label>
                    <div class="tab-content main-transition">
                    <p>Sim. Um de nossos alunos era professor de filosofia e, aos 48 anos, aprendeu a programar e se colocou no mercado, inclusive, hoje, trabalhando para o exterior e ganhando em dólar.</p>
                    <p>Temos aluno funcionário público aposentado aprendendo também. E o esquema de trabalho como PJ ou na forma de freela/projetos permite que mercado não tenha medo por conta dos custos de se contratar uma pessoa mais velha. O importante é gerar valor!</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq16">
                    <label class="tab-label main-transition" for="faq16">Quero trabalhar no exterior, o curso ajuda?</label>
                    <div class="tab-content main-transition">
                    <p>Nesse caso o primeiro requisito é inglês. O curso não ensina a língua mas o bônus Curso de Entrevistas Técnicas apresenta os macetes para se preparar para processos seletivos gringos, além de apresentar estratégia para montar currículo visando uma carreira internacional. Já temos um aluno trabalhando na Red Hat que foi preparado para entrevista aqui dentro do curso. Temos outros dois alunos trabalhando para empresa americana HiVelocity.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" id="faq18">
                    <label class="tab-label main-transition" for="faq18">Onde e como ocorrem os encontros?</label>
                    <div class="tab-content main-transition">
                    <p>Os encontros ocorrerão as segundas-feiras, online, na plataforma de reunião chamada Blue Jeans.</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__group">
        <img class="footer__group__detail-left-desktop" src="{% static 'img/spp/footer/detail-top-footer.png' %}" alt="Detalhe grande com vários círculos pequenos na cor verde abacate formando um quadrado">
        <div class="footer__group__header">
            <img class="footer__group__header__logo" src="{% static 'svg/spp/logo-python-pro.svg' %}" alt="Logo Python Pro">
        </div>
    
        <div class="footer__group__content">
            <div class="footer__group__content__item">
            <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/phone.jpg' %}" alt="Ícone de um telefone na cor verde abacate">
            <div>
                <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">Ligue para gente</h4>
                <p class="footer__group__content__item__description fw-300 text-gray">(84) 99419-4414</p>
            </div>
            </div>
    
            <div class="footer__group__content__item">
            <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/email.jpg' %}" alt="Ícone de um envelope na cor verde abacate">
            <div>
                <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">Envie um e-mail</h4>
                <p class="footer__group__content__item__description fw-300 text-gray">suporte@python.pro.br</p>
            </div>
            </div>
    
            <div class="footer__group__content__item">
            <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/cpnj.jpg' %}" alt="Ícone de um globo na cor verde abacate">
            <div>
                <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">CNPJ</h4>
                <p class="footer__group__content__item__description fw-300 text-gray">31.080.715/0001-25</p>
            </div>
            </div>
        </div>
    
        <img class="footer__renzo-mobile" src="{% static 'img/spp/footer/renzo-nuccitelli-footer.jpg' %}" alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Python Pro. Imagem pequena">
    
        <img class="footer__group__detail" src="{% static 'img/spp/footer/footer-group-detail.jpg' %}" alt="Pequenos círculos na cor verde abacate formando um retângulo">
        </div>
    
        <div class="footer__copyright">
        <p class="footer__copyright__title fw-700 text-uppercase text-copyright">&copy; Python Pro. 2020 Todos os direitos reservados.</p>
        <img class="footer__copyright__renzo-desktop" src="" alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Python Pro. Imagem grande">
        </div>
    
        <img class="footer__group__detail-right-desktop" src="{% static 'img/spp/footer/renzo-nuccitelli-footer-desktop.png' %}" alt="Detalhe grande com vários círculos pequenos na cor verde abacate formando um quadrado">
    </footer>
    
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/spp/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/spp/magnific-popup.min.js' %}"></script>
    <script type="application/javascript">
        let phoneInput = document.getElementById('id_phone');
        phoneInput.addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });

        $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            autoPlay: 3000,
            loop: true,
            margin: 10,
            responsiveClass: true,
            dots: true,
            responsive:{
            0:{
                items: 1,
                nav: true
            },
            600:{
                items: 3,
                nav: false
            },
            1000:{
                items: 3,
                nav: true,
            }
            }
        })
        });

        $('.popup-vimeo').magnificPopup({
        src: 'https://vimeo.com/398972182',
        type: 'iframe'
        });


    </script>

{% endblock body %}