{% extends "checkout/pytools_lp.html" %}
{% load tz %}

{% block extra_style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    h2.countdown {
        font-size: 50pt !important;
        color: #AF1B3F !important;
    }
    h2, h3, h4 {
        line-height: 150%;
    }
    .support-button {
        position:fixed;
        width:45px;
        height:45px;
        bottom:20px;
        right:20px;
        background-color: #25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:25px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    .fa-whatsapp {
        margin-top: 10px;
    }
    .thanks {
        font-size: 14pt;
        font-weight: bold;
        color: #787F8C;
    }
</style>
{% endblock %}
{% block course_id_prefix %}{{slug}}{% endblock %}
{% block h1 %}<b><u>CALMA!</u> <br>Falta pouco para finalizarmos...</b>{% endblock %} 

{% block h2 %}
    Parabéns por decidir se registrar, <b><u>mas sua matrícula ainda não está finalizada.</u></b><br>
    Leia com atenção o texto abaixo para finalizar seu cadastro.
{% endblock %}

{% block hero_cta %}{% endblock %}

{% block copy %}
    <a href="https://api.whatsapp.com/send?phone=5584994194414&text=Olá! Estou vendo a página de promoção do PyTools e fiquei com uma dúvida. Vocês poderiam me ajudar?" class="support-button" target="_blank">
        <i class="fa fa-whatsapp"></i>
    </a>
    
    <div>
        <div class="container">
            <div class="row">
                <div class="col mb-5 mt-5">
                    <h3 class='font-weight-bold'>
                        <span class="ec ec-bulb"></span>
                        Você tomou uma decisão muito inteligente...
                    </h3> 

                    <p>
                        ...porque decidiu aprender <b>a melhor linguagem de programação, 
                        que é Python</b>, e ter acesso a um <b>mercado que paga altos salários</b> 
                        e está repleto de vagas em aberto!
                    </p>

                    <p><b class='highlight'>
                        Mas e se eu te disesse que existe uma forma mais rápida de você conseguir
                        uma vaga como programador?</b>
                    </p> 

                    <p>
                        Eu não ofereço a oportunidade que eu vou te apresentar agora para todo mundo.
                    </p>

                    <p>
                        Eu ofereço esta oportunidade única somente para quem me prova que está 
                        realmente comprometido em se tornar um programador profissional...
                    </p>

                    <h4 class='mt-5 mb-5'>
                        E, ao se matricular no Python Birds, <b>você me provou que está comprometido
                        com o seu objetivo!</b> <span class="ec ec-muscle"></span>
                    </h4>

                    <p>
                        A oportunidade que eu vou compartilhar com você vai te ajudar a atingir
                        seu objetivo, que é se tornar um programador profissional, de uma maneira
                        <b>muito mais rápida.</b>
                    </p>

                    <p>
                        Sim, com o Python Birds você vai aprender conceitos mais importantes
                        que todo programador precisa saber. <b>O Python Birds é o curso grátis 
                        mais completo de todo o mercado brasileiro.</b>
                    </p>

                    <p>
                        Mas para se tornar um profissional, não basta somente dominar estes conceitos.
                    </p>
                    
                    <p>
                        Para se tornar um programador profissional você precisa também dominar as
                        principais ferramentas que estes profissionais usam no seu dia a dia.
                    </p>

                    {% if not is_promotion_expired %}
                        <div class='initiate-checkout d-none d-sm-block d-md-block mt-5 mb-5'>
                            <button class="cta btn btn-warning initiate-checkout mt-10" data-toggle="modal" data-target="#modal-waiting-capture">
                                SIM! Eu quero <b class='initiate-checkout'>ir mais rápido!</b>
                            </button>
                        </div>

                        <div class='initiate-checkout d-block d-lg-none d-xl-none  mt-5 mb-5'>
                            <button class="cta-mobile btn initiate-checkout btn-warning mt-10" data-toggle="modal" data-target="#modal-waiting-capture">
                                SIM! Eu quero <b class='initiate-checkout'>ir além do básico!</b>
                            </button>
                        </div>

                        <a href='{% url "core:thanks" %}' class='thanks'><u>
                            <b>(Caso não queira ir mais rápido, clique aqui e 
                            finalize seu cadastro grátis no Python Birds).</b>
                        </u></a>
                    {% endif %}

                    <h4 class='mt-5 mb-5'>
                        Deixe-me explicar o porquê aprender essas ferramentas o mais rápido possível
                        é <b>essencial para que você se torne um programador de qualidade</b>:
                    </h4>
                    
                    <p>
                        Como eu digo sempre que posso, a faculdade não te prepara para o 
                        mercado de trabalho.
                    </p>
                    
                    <p>
                        Na faculdade você aprende bastante a parte teórica sobre programação, 
                        <b class='highlight'>mas quase nenhuma prática sobre como é programar no dia a dia.</b>
                    </p>
                    
                    <p>
                        Eu sei disso porque senti esse problema na pele, e em uma das melhores 
                        faculdades do Brasil, o ITA.
                    </p>
                    
                    <p>
                        No meu primeiro emprego, eu me deparei com vários conceitos que eu não 
                        conhecia. Eu já conhecia tudo sobre lógica de programação, tipos, iterações,
                        orientação a objetos, herança, composição.
                    </p>
                    
                    <p>
                        Mas os programadores mais experientes sabiam coisas que eu nunca tinha 
                        ouvido falar. Falavam sobre versionamento de código, configuração de 
                        ambiente, testes automatizados...
                    </p>

                    <p>
                        Eu não tinha aprendido nada disso na faculdade.
                    </p>
                    
                    <p>
                        Acabou que, depois de <b><b>penar muito</b></b>, consegui aprender isso
                        procurando em livros, na internet e contando com a ajuda (quando dava)
                        dos meus colegas de trabalho.
                    </p>

                    <p>
                        Hoje eu tenho mais de 10 anos de mercado. Já sou um programador experiente.
                        Como Diretor de Tecnologia, além de programar, eu também contrato e
                        gerencio novos programadores.

                    </p>

                    <h3 class='mt-5 mb-5'>
                        E, acredite, 10 anos depois <b>este cenário não mudou...</b>
                        <span class="ec ec-pensive"></span>
                    </h3>

                    <p>
                        Eu contrato programadores de ótimas faculdades e quase sempre acontece
                        o mesmo: a pessoa vem com uma boa base conceitual, mas sem nenhum preparo
                        pro mundo real.
                    </p>

                    <p>
                        Para começar a desenvolver sistemas você precisa de conhecimentos
                        além de conceitos de lógica de programação.
                    </p>

                    <p>
                        Você precisa saber como trabalhar em equipe, como garantir que seu código
                        vai funcionar, como garantir que o seu software rode na sua máquina e
                        no servidor de produção, entre outros conceitos básicos que não são
                        necessariamente sobre lógica em si.
                    </p>

                    <p>
                        E sabe o que é pior?
                    </p>
                    
                    <h4 class='mb-5'>
                        <b class='highlight'>Se você tiver alguém pra te explicar isso de forma
                        simples e didática, você aprende muito rápido!</b>
                    </h4>

                    <p>
                        É por isso que eu tenho um outro curso chamado <b>PyTools</b>. 
                    </p>
                        
                    <p>
                        Eu não tenho tempo 
                        suficiente para te explicar cada detalhe do curso agora <i>(até porque, se eu 
                        fosse fazer isso nós iríamos ficar aqui por horas)</i>, mas eu consigo te 
                        explicar o porquê esta oportunidade vai te ajudar a se tornar um programador 
                        profissional muito mais rápido...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class='bg-secondary'>
            <div class="container">
                <div class="row text-center">
                    <div class="col mt-5 mb-5">
                        <h2 class='mb-5'>
                            Com o PyTools você vai aprender as <b><u>PRINCIPAIS FERRAMENTAS</u></b> que o 
                            <b>mercado procura em todo programador profissional!</b>
                        </b></h2>

                        <h4 class='font-weight-bold'>
                            Você já imaginou que bom seria se você estivesse <b>preparado o suficiente
                            para empregos que pagam 5... 10... 15... <u>até 20 mil reais por mês de
                            salário</u>?
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='bg-gray'>
            <div class="container">
                <div class="row">
                    <div class="col mt-5 mb-5">
                        <p class='mb-5'>
                            Com o PyTools, você vai:
                        </p>

                        <h4 class='font-weight-bold mt-5'>
                            <span class="ec ec-male-detective"></span>
                            Conhecer a rede secreta de desenvolvedores...
                        </h4>

                        <p>
                            Você vai aprender a trabalhar com a ferramenta que todo mundo usa para
                            versionar código e contribuir com projetos de desenvolvimento de software:
                            <b>o Git.</b>
                        </p>

                        <p>
                            Você também vai aprender a navegar nos projetos e perfis da maior
                            rede de desenvolvedores do mundo, <b>o Github!</b>
                        </p>

                        <p class='mb-5'>
                            Além disso, você vai aprender como <b class='highlight'>contribuir com estes projetos!</b>
                        </p>

                        <h4 class='font-weight-bold mt-5'>
                            <span class="ec ec-dvd"></span>
                            Criar o seu portfólio...
                        </h4>

                        <p class='mb-5'>
                            Você vai criar seu primeiro projeto de maneira profissional para poder
                            comprovar sua habilidades nas entrevistas.
                        </p>

                        <h4 class='font-weight-bold mt-5'>
                            <span class="ec ec-computer"></span>
                            Conhecer o estado da arte em engenharia de software...
                        </h4>

                        <p>
                            Você vai conhecer as principais ferramentas que são pré-requisitos para
                            todas vagas de tecnologia.
                        </p>

                        <p>
                            Você também vai aprender como desenvolver da forma correta,
                            <b class='highlight'>utilizando testes automatizados.</b>
                        </p>

                        <p>
                            Você vai aprender a explorar todo o poder da principal ferramenta de
                            criação de testes em Python, <b>o Pytest!</b>
                        </p>

                        <p class='mb-5'>
                            Por fim, você vai aprender a utilizar o <span class='highlight'><b>Pipenv</b> para manter seu
                            projeto completamente organizado e replicável.</span>
                            Seu software vai funcionar na sua máquina e também no servidor de produção!
                        </p>

                        <div class='row'>
                            <div class='col-md learning-box text-center'>
                                <p><span class="icon ec ec-satellite"></span></p>
                                <h4 class='font-weight-bold'>CURSO 100% ONLINE</h4>
                                <p>
                                    Assista de qualquer lugar que quiser. Do seu computador, do seu
                                    tablet ou mesmo do seu celular. Basta ter acesso a Internet.
                                </p>
                            </div>

                            <div class='col-md learning-box text-center'>
                                <p><span class="ec ec-desktop-computer"></span></p>
                                <h4 class='font-weight-bold'>58 VÍDEO AULAS</h4>
                                <p>
                                    <b>São mais de 5 horas de vídeo aulas</b> com um conteúdo super completo 
                            e ao mesmo tempo com uma didática super simples!
                                </p>
                            </div>

                            <div class='col-md learning-box text-center'>
                                <p><span class="ec ec-older-man"></span></p>
                                <h4 class='font-weight-bold'>ACESSO VITALÍCIO</h4>
                                <p>
                                    Você terá acesso ao curso para sempre, inclusive a todas as
                                    atualizações! Poderá assistir todas as aulas quantas vezes quiser.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='bg-secondary'>
            <div class="container">
                <div class="row">
                    <div class="col mt-5 mb-5">
                        <h3><b>E tem mais... </b></h3>

                        <h2 class='mb-5'>
                            Além do curso <b>PyTools</b>, eu preparei mais
                            <b><u>três bônus pra você!</u></b>
                        </h2>

                        <h4 class='font-weight-bold mt-5'>
                            <span class="ec ec-calendar"></span>
                            Você vai ter acesso ao nosso plantão de dúvidas quinzenal!
                        </h4>

                        <p>
                            A cada quinze dias eu faço um plantão para tirar as dúvidas dos meus alunos
                            do PyTools e do Python Pro (meu outro curso, em que eu só abro turma às vezes).
                        </p>

                        <p class='mb-5'>
                            Ao adquirir o PyTools <b>você vai ter total preferência para enviar suas
                            dúvidas e até entrar ao vivo comigo!</b>
                        </p>

                        <h4 class='font-weight-bold mt-5'>
                            <span class="ec ec-moneybag"></span>
                            Condição especial e acesso ao pré-lançamento do Python Pro!
                        </h4>


                        <p>
                            O Python Pro é um curso completo onde eu <b>vou te levar do 0 a 100 em programação.</b>
                        </p>
                        <p>
                            Neste curso eu vou te preparar 100% para o mercado de trabalho.
                            Neste curso nós desenvolvemos, juntos, um projeto ao longo de toda a turma.
                            Além disso, eu interajo intensamente com a galera durante esse período.
                            <b>É o meu curso mais completo.</b>
                        </p>

                        <p>
                            Por ele ser tão completo, demanda bastante energia.
                            Por isso, eu só abro uma turma nova de vez em quando.
                        </p>

                        <p>
                            Por isso, as matrículas são bem concorridas.
                        </p>

                        <p>
                            Mas relaxa, ao comprar o PyTools você vai ter dois benefícios incríveis.
                        </p>

                        <p>
                            <span class="ec ec-gift"></span>
                            <b>Primeiro, você vai ter acesso ao período de pré-lançamento do curso. </b>
                        </p>

                        <p>
                            Você vai poder comprar o Python Pro antes de todo mundo!
                            <i>(Lembra: as vagas são concorridas!)</i>
                        </p>

                        <p>
                            <span class="ec ec-gift"></span>
                            <b>E o segundo e melhor benefício: eu vou te dar um cupom de desconto no 
                            valor de R$ 100,00 <i>(é isso mesmo: o PyTools sai praticamente de graça)</i>.</b>

                        </p>

                        <p>
                            Isso mesmo, quando você decidir se inscrever em uma turma,
                            eu praticamente te devolvo o valor do PyTools.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col mb-5 mt-5">
                        <h2 class='font-weight-bold mb-5'>Quanto custa tudo isso?</h2>

                        <p>
                            O PyTools custa, oficialmente, 12X de R$ 39,70, ou R$ 397,00, com 15% de desconto.
                        </p>
                        
                        <p>
                            <b class='highlight'>Mas, como disse lá em cima, eu decidi te apresentar uma oportunidade
                            única, pois você me provou que está realmente decidido a se tornar um
                            programador profissional.</b>
                        </p>

                        <p>
                            A minha missão é educar! O meu objetivo é formar profissionais!
                            Antes de ser diretor de tecnologia, antes de ser programador, eu sou um professor.
                        </p>
                        
                        <p>
                            Quando eu encontro alguém determinado, eu realmente fico com vontade de
                            ajudar com esta pessoa. É por isso eu decidi ajudar você.
                        </p>
                        
                        <h4>
                            <b>Por isso eu resolvi te dar 75% de desconto!</b>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block price_first_block_additional %}
    <div class="row text-center text-light">
        <div class='col mb-5'>
            <a href='{% url "core:thanks" %}' class='text-light'><i><u>
                (Eu não quero ganhar dinheiro rápido, finalize meu cadastro no Python Birds).
            </u></i></a>
        </div>
    </div>
{% endblock %}
    
{% block price_second_block_additional %}
    <div class="row text-center text-light">
        <div class='col mb-5'>
            <a href='{% url "core:thanks" %}' class='text-light'><i><u>
                (Eu não quero ganhar dinheiro rápido, finalize meu cadastro no Python Birds).
            </u></i></a>
        </div>
    </div>
{% endblock %}
    

{% block countdown %}
    <div class='bg-black'>
        <div class="container">
            <div class="row text-light text-center">
                <div class="col mb-5 mt-5">
                    {% if not is_promotion_expired %}
                        <h2 class='font-weight-bold mb-5'>
                            PRESTE ATENÇÃO: Essa promoção vai expirar em breve!
                        </h2>

                        <p>
                            Esta oferta estará disponível apenas durante 30 minutos,
                            contando a partir do momento do seu cadastro no Python Birds.</b>
                        </p>
                        
                        <p>
                            Ou seja, <b>você só possui esta chance de adquirir o PyTools com 75% de desconto. </b>
                            Quando o relógio abaixo chegar a zero, <b>a sua chance acabou.</b>
                        </p>

                        <h2 class='demo countdown text-light font-weight-bold text-center'></h2>
                    
                    {% else %}
                    
                        <h2 class='font-weight-bold mb-5' style='font-size: 30pt'>
                            <u>Infelizmente a promoção se encerrou...</u>
                        </h2>

                        <div class='initiate-checkout d-none d-sm-block d-md-block mt-5 mb-5'>
                            <a href='/pagamento/curso-de-python-intermediario' class="cta btn btn-warning initiate-checkout mt-10">
                                <b>Comprar o PyTools pelo preço normal</b>
                            </a>
                        </div>

                        <div class='initiate-checkout d-block d-lg-none d-xl-none  mt-5 mb-5'>
                            <a href='/pagamento/curso-de-python-intermediario' class="cta-mobile btn initiate-checkout btn-warning mt-10">
                                <b>Comprar o PyTools pelo preço normal</b>
                            </a >
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block price_first_block_cta_desktop %}
    SIM! <b class='initiate-checkout' data-toggle="modal" data-target="#modal-waiting-capture">Eu quero ir mais rápido!</b>
{% endblock %}

{% block price_first_block_cta_mobile %}
    SIM! <b class='initiate-checkout' data-toggle="modal" data-target="#modal-waiting-capture">Eu quero ir mais rápido!</b>
{% endblock %}

{% block price_second_block_cta_desktop %}
    SIM! <b class='initiate-checkout' data-toggle="modal" data-target="#modal-waiting-capture">Eu quero ir mais rápido!</b>
{% endblock %}

{% block price_second_block_cta_mobile %}
    SIM! <b class='initiate-checkout' data-toggle="modal" data-target="#modal-waiting-capture">Eu quero ir mais rápido!</b>
{% endblock %}

{% block footer %}
    <script>
        {% localtime on %}
            // Set the date we're counting down to
            var countDownDate = new Date("{{ countdown_limit|date:"m/d/Y H:i:s" }}").getTime();
        {% endlocaltime %}

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if(hours < 10) {
                hours = "0" + hours 
            }

            if(minutes < 10) {
                minutes = "0" + minutes 
            }
            
            if(seconds < 10) {
                seconds = "0" + seconds 
            }

            // Display the result in the element with id="demo"
            $(".countdown").html(hours + ":" + minutes + ":" + seconds);

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                $(".countdown").html("ACABOU!!!");
            }
        }, 1000);
    </script>
{% endblock %}