{% extends 'core/base.html' %}
{% load static %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Cadastro realizado com Sucesso!</h1>
                <p>Você agora será avisado com antecedência sobre a abertura da próxima tuma no email {{ email }}.
                </p>
                <p>Para você poder se programar, o custo da última turma foi de R$ 1500,00 no boleto à vista ou 10 vezes
                    de R$ 180,00 no cartão.
                </p>
                <p>Não garantimos o mesmo preço, mas também não costumamos aumentar significativamente o custo.
                </p>
                <p>Será um prazer conhecer você pessoalmente na próxima turma.
                </p>
                <p>
                    Muito obrigado pela confiança em nosso trabalho!
                </p>
                <p>
                    Renzo Nuccitelli
                </p>
            </div>
        </div>
    </div>
{% endblock body %}