{% extends 'checkout/webdev_landing_page_oto.html' %}

{% block title %}MATRÍCULAS ABERTAS | Curso de Django com 50% de Desconto{% endblock %}
{% block description %}
    Prepare-se para salários de até R$ 20 mil mensais!
{% endblock %}

{% block hero %}
<div class='desktop d-none d-sm-block d-md-block'>
    <h1 class='font-weight-bold text-light mb-5'>
        VOCÊ JÁ IMAGINOU QUE BOM SERIA SE VOCÊ ESTIVESSE PREPARADO PARA EMPREGOS QUE PAGAM 
        <u>ATÉ 20 MIL REAIS POR MÊS DE SALÁRIO?</u>
    </h1>
    <iframe width="100%" height='523px' src="https://www.youtube.com/embed/L5YQSE9IE3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class='mobile d-block d-lg-none d-xl-none'>
    <h1 class='font-weight-bold text-light mb-5'>
        VOCÊ JÁ IMAGINOU QUE BOM SERIA SE VOCÊ ESTIVESSE PREPARADO PARA EMPREGOS QUE PAGAM 
        <u>ATÉ 20 MIL REAIS POR MÊS DE SALÁRIO?</u>
    </h1>
    <iframe width="100%" height='208px' src="https://www.youtube.com/embed/L5YQSE9IE3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock hero %}

{% block show_after %}{% endblock show_after %}