<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="." method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div >
    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    {{ form.name.errors }}
    {{ form.name }}
  </div>
  <div >
    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
    {{ form.email.errors }}
    {{ form.email }}
  </div>
  <button type="submit">Enviar</button>
</form>

</body>
</html>