{% extends 'core/base_without_nav.html' %}
{% load static %}

{% block body %}
    {% block content %}{% endblock %}

    {% block professor %}
    <div class='bg-secondary block-professor mt-5'>
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <img class="img-renzo float-right not-iphone" src="{% static 'img/spp/renzo/about-renzo-nuccitelli-desktop.webp' %}" alt="Renzo Nuccitelli com braços cruzados, olhando para foto. Fundo verde abacate com códigos escritos em branco. Imagem grande">
                    {% comment %} <img class="img-renzo float-right only-iphone" src="{% static 'img/spp/renzo/about-renzo-nuccitelli-desktop.png' %}" alt="Renzo Nuccitelli com braços cruzados, olhando para foto. Fundo verde abacate com códigos escritos em branco. Imagem grande"> {% endcomment %}
                    <h2 class='mt-5 font-weight-bold'><u>CONHEÇA SEU PROFESSOR!</u></h2>
                    
                    <p>
                        Olá! Eu me chamo <b>Renzo Nuccitelli</b>. Muito prazer! 
                    </p>
                    <p>
                        Sou programador há 14 anos, palestrante, consultor, 
                        diretor de tecnologia e, principalmente, professor.
                    </p>
                    <p>
                        <b>Sou Engenheiro de Computação formado pelo ITA.</b> Especialista em Programação Web 
                        e em teste automáticos. Fui <b>Engenheiro de Qualidade Sênior na Red Hat</b> durante 2 anos.
                        Também fui <b>Diretor de Tecnologia</b> nas empresas QMagico e Pricez. 
                    </p>

                    <p>
                        Sou apaixonado por dar aula!
                        Fui <b>professor da FATEC São José dos Campos</b> durante 4 anos.
                        Já palestrei em eventos como PyCon US, Google Developer Bus, 
                        DevFest, Rupy e Python Brasil.
                    </p>
                    <p>
                        <b>Meu sonho sempre foi que as pessoas pudessem construir as 
                        mesmas oportunidades que construí...</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock professor %}
{% endblock %}

{% block styles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        @supports not (-webkit-touch-callout: none) {
            .only-iphone {
                /* CSS for other than iOS devices */ 
                display: none;
            }
        }
        @supports (-webkit-touch-callout: none) {
            .not-iphone {
               /* CSS specific to iOS devices */ 
               display: none;
            }
        }
        @font-face {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Bold ☞'), url('{% static "fonts/Gilroy-Bold.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Heavy';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Heavy ☞'), url('{% static "fonts/Gilroy-Heavy.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Light';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Light ☞'), url('{% static "fonts/Gilroy-Light.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Medium';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Medium ☞'), url('{% static "fonts/Gilroy-Medium.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Regular';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Regular ☞'), url('{% static "fonts/Gilroy-Regular.woff" %}') format('woff');
        }
    
        .bg-secondary.block-professor {
            margin-top: 80px  !important;
            background-color: #A9CD5D !important;
        }
        .img-renzo {
            max-width: 400px;
            margin-top: -10px;
            margin-bottom: -50px;
        }
        .container {
            max-width: 960px;
        }

        .bg-secondary {
            color: #2E282A;
        }

        h1 {
            text-transform: uppercase;
        }
        h1, h2, h3, h4 {
            line-height: 130%;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/client.css' %}"/>
{% endblock styles %}