{% extends 'core/base_without_nav.html' %}
{% load static %}

{% block body %}
    {% block content %}{% endblock %}

    {% block professor %}
    <div class='bg-secondary block-professor mt-5'>
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <img class="img-renzo float-right" src="{% static 'img/spp/renzo/about-renzo-nuccitelli-desktop.png' %}" alt="Renzo Nuccitelli com braços cruzados, olhando para foto. Fundo verde abacate com códigos escritos em branco. Imagem grande">
                    <h2 class='mt-5 mb-5 font-weight-bold'><u>CONHEÇA SEU PROFESSOR!</u></h2>
                    
                    <p>
                        Olá! Eu me chamo <b>Renzo Nuccitelli</b>. Muito prazer! 
                    </p>
                    <p>
                        Sou programador há 13 anos, palestrante, consultor, 
                        diretor de tecnologia e, principalmente, professor.
                    </p>
                    <p>
                        Meu sonho sempre foi que as pessoas pudessem construir as mesmas oportunidades que construí...    
                    </p>

                    <p>
                        Sou Engenheiro de Computação formado pelo ITA. Especialista em programação web.
                    </p>

                    <p>
                        Fui Diretor de Tecnologia na startup de educação QMagico e Pricez. Por lá, estruturei os times de tecnologia e todo o processo de desenvolvimento.
                    </p>

                    <p>
                        Sou apaixonado por dar aula! Fui professor da Fatec durante 4 anos, ministrando as matérias de "Orientação a Objetos", "Aplicações para Internet", "Estrutura de Dados" e "Javascript". 
                    </p>
                    
                    <p>
                        Já palestrei em eventos como Pycon US, Google Developer Bus, DevFest, Rupy e Python Brasil.
                    </p>

                    <p>
                        Também sou especialista em teste automáticos. Fui Engenheiro de Qualidade Sênior na Red Hat durante 2 anos.
                    </p>

                </div>
            </div>
        </div>
    </div>
    {% endblock professor %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'Gilroy-Bold';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Bold ☞'), url('{% static "fonts/Gilroy-Bold.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Heavy';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Heavy ☞'), url('{% static "fonts/Gilroy-Heavy.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Light';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Light ☞'), url('{% static "fonts/Gilroy-Light.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Medium';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Medium ☞'), url('{% static "fonts/Gilroy-Medium.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'Gilroy-Regular';
            font-style: normal;
            font-weight: normal;
            src: local('Gilroy-Regular ☞'), url('{% static "fonts/Gilroy-Regular.woff" %}') format('woff');
        }
    
        .bg-secondary.block-professor {
            margin-top: 80px  !important;
            background-color: #A9CD5D !important;
        }
        .img-renzo {
            max-width: 400px;
            margin-top: -80px;
            margin-bottom: -100px;
        }
        .container {
            max-width: 960px;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/client.css' %}"/>
{% endblock styles %}