{% extends 'pages/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Garanta sua matrícula no Bootcamp Dev Pro!{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <div class='bg-primary'>
        <div class="container">
            <div class="row text-center text-light">
                <div class="col hero">
                    <h1 class='font-weight-bold'>
                        Cadastre-se na Lista VIP e se <u>matricule antes de todos</u> na próxima turma do Bootcamp Dev
                        Pro!
                    </h1>

                    <h4 class='' id="topo">
                        Quem estiver nessa lista e se matricular para a nova turma do Bootcamp Dev Pro
                        vai terá sua vaga garantida, independente do que aconteça.
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class='offset-md-2 col-md-8 col-sm-12 text-light'>

                    <span class=' font-weight-bold' style='font-size: 16pt'>Preencha o formulário:</span>
                    <form method="POST" class='mb-5 text-center'>
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <button type='submit' class='btn btn-warning text-center cta'>
                            <b>ENTRAR PARA A LISTA VIP!</b>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class='mt-5'>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class='font-weight-bold text-center mb-5 text-uppercase'>
                        Por que você não pode ficar de fora da próxima turma do Bootcamp Dev Pro?
                    </h2>

                    <p>
                        <b>Serão 8 aulas ao vivo que acontecerão nos três meses de duração desta turma.</b>
                    </p>
                    <p>
                        Paralelo às nossas aulas ao vivo, você terá acesso aos 3 cursos que compõem
                        a formação Dev Pro. Juntos, eles somam mais de 300 aulas gravadas.
                    </p>
                    <p>
                        São estes cursos que vão te dar toda a base necessária para que você
                        esteja preparado para aplicar para as milhares de vagas em aberto.
                    </p>
                    <p>
                        <b>Também teremos quatro webinários onde especialistas com anos de mercado.</b>
                    </p>

                    <p>
                            Eles vão apresentar dicas valiosas sobre assuntos super importantes, 
                            sejam eles técnicos, ou não técnicos, como carreira, conceitos, 
                            ferramentas, técnicas, entre outros.
                        </p>
                        <p>
                            Além disso, durante os webinários, você poderá tirar todas as 
                            dúvidas e interagir com estes profissionais. E, nesta edição, vamos contar somente com feras!
                        </p>

                    <p>
                        <b>Você também terá acesso ao nosso grupo de alunos no Telegram. </b>
                    </p>
                    <p>
                        Lá você poderá estreitar os laços com os seus companheiros de cursos,
                        outras pessoas que também possuem a missão de se tornar um programador profissional!
                    </p>
                    <p>
                        <b>E, por fim, mas não menos importante, você terá acesso irrestrito ao fórum Dev Pro,
                            um fórum onde você poderá tirar todas as suas dúvidas.</b>
                    </p>
                    <p>
                        As chances de a sua dúvida já ter sido a dúvida de algum outro aluno é
                        muito grande. Foi por isso que criamos o nosso próprio fórum.
                    </p>
                    <p>
                        Já são mais de 30 mil mensagens, que você poderá usar como fonte de
                        consulta para resolver seus problemas.
                    </p>
                    <p>
                        Ah, e se você não encontrar uma resposta para a sua dúvida, basta abrir
                        o seu próprio tópico que, em menos de 24h, eu, ou
                        alguém da minha equipe, iremos te ajudar!
                    </p>
                    <p>
                        Com as nossas aulas ao vivo, os cursos da formação Dev Pro,
                        os webinários com especialistas e com o fórum de dúvidas Dev Pro,
                        você terá um arsenal completo com as ferramentas necessárias para se
                        tornar um programador profissional!
                    </p>

                    <p>
                        Eu consigo garantir que você vai se tornar um programador profissional
                        por causa do maior diferencial do curso Dev Pro:
                        <b>Você terá acesso vitalício a nossa plataforma, aos cursos,
                            ao fórum e às gravações das aulas ao vivo. </b>
                    </p>
                    <p>
                        Eu decidi liberar o acesso vitalício justamente porque cada pessoa
                        possui um ritmo de aprendizado diferente. Eu não consigo determinar
                        em quanto tempo uma pessoa vai conseguir se tornar um programador
                        profissional (apesar de saber que será muito mais rápido que uma
                        faculdade). O que eu consigo determinar é que, com um bom método,
                        bons materiais de estudo e colegas para te ajudar você vai conseguir
                        se tornar um programador profissional.
                    </p>
                    <p>
                        E, quanto mais dedicação você tiver, mais rápido isso vai acontecer!
                    </p>
                    <p>
                        Mas não para por aí!
                    </p>
                    <p>
                        Além do Bootcamp Dev Pro, você terá acesso a quatro bônus incríveis que eu preparei para você.
                    </p>
                    <h4 class='font-weight-bold'>
                        <span class="ec ec-gift"></span>
                        Bônus número #1: Eu vou liberar o acesso a todos os webinários das turmas passadas.
                    </h4>
                    <p>
                        Tem material muito bom ali no meio que vai te ajudar bastante a acelerar
                        seu processo de se tornar um programador profissional. Foi por isso que
                        eu decidi liberar esse bônus.
                    </p>
                    <h4 class='font-weight-bold'>
                        <span class="ec ec-gift"></span>
                        Bônus número #2: Eu vou liberar o acesso a todas as aulas das turmas passadas para você.
                    </h4>
                    <p>
                        Você terá acesso a todo o conteúdo que foi passado em todas as turmas do
                        Dev Pro. Isso inclui as aulas e os arquivos dos projetos!
                    </p>
                    <h4 class='font-weight-bold'>
                        <span class="ec ec-gift"></span>
                        Bônus número #3: Eu vou liberar o seu acesso a gravação do Workshop Carreira Pro!
                    </h4>
                    <p>
                        Com o workshop Carreira Pro você vai aprender a se portar em uma entrevista técnica
                        e finalmente conseguir o seu emprego dos sonhos.
                    </p>
                    <h4 class='font-weight-bold'>
                            <span class="ec ec-gift"></span>
                            Bônus número #4: Eu vou liberar o seu acesso ao curso de entrevistas técnicas para o exterior!
                    </h4>
                    <p>
                        O objetivo deste curso é você aprender como ocorre o processo seletivo
                        de empresas gringas. Além disso, você também vai aprender a resolver
                        as questões técnicas que são feitas nestas entrevistas.
                    </p>
                    <p>
                        Imagine você ganhando um salário de 2 mil dólares por mês. Isso equivale
                        a quase 10 mil reais. Quanto você pagaria para aprender a passar nessas
                        entrevistas? Pois é… não precisa pagar nada. Ao se inscrever nesta turma
                        do Bootcamp Dev Pro você terá acesso a este curso de forma totalmente
                        gratuita.
                    </p>
                    <p>
                        Você não vai ficar de fora, né?
                    </p>
                    <p>
                        <a href="#topo" class='btn btn-warning text-center cta'>
                            <b>EU QUERO ME MATRICULAR ANTES DE TODO MUNDO!</b>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    
    <script type="application/javascript">

    let phoneInput = document.getElementById('id_phone');
        phoneInput.addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });

        let submitButton = document.getElementById('submit_button');
        document.getElementById('contact_form').addEventListener('input', function (e) {
            if (phoneInput.value.search(/\(\d\d\) \d\d\d\d\d-\d\d\d\d/) === 0) {
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.setAttribute('disabled', 'disabled');
            }
        });
    </script>
{% endblock content %}

{% block footer %}
    <div class=''>
        <div class="container">
            <div class="row">
                <div class="col mt-5 mb-5 text-center">
                    <i>
                        {% now "Y" %} Dev Pro. Todos os direitos reservados. <br>
                        CNPJ: 31.080.715/0001-25<br>
                        +55 11 96898-3377 - {{ DEFAULT_FROM_EMAIL }}
                    </i>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
    <style>
        @media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
            .hero h1 {
                font-size: 20pt;
            }
            .hero h4 {
                font-size: 14pt;
            }
            .cta {
                font-size: 14pt !important;
                padding: 10px 20px;
            }
            h2 {
                font-size: 18pt;
            }
            p {
                font-size: 12pt;
            }
        }
    </style>

{% endblock %}

{% block scripts %}{% endblock %}