{% extends 'pages/base_thank_you.html' %}

{% block title %}Parabéns! Você faz parte da lista VIP{% endblock %}
{% block description %}{% endblock %}

{% block content %}
<div class=''>
    <div class="container">
        <div class="row text-center">
            <div class="col hero">
                <h1 class='font-weight-bold  mb-4'>
                    PARABÉNS! VOCÊ FAZ PARTE DA LISTA VIP E PODERÁ SE MATRICULAR ANTES DE TODOS!
                </h1>

                <h3 class='mt-5 mb-5'>
                    <b>No domingo eu vou dar a aula mais importante de todas:
                        <u>O Método Infalível para Conseguir a sua Vaga.</u></b>
                </h3>

                <h4 class='mt-5'>
                    Além disso, eu também vou abrir novas vagas para a nova turma do Bootcamp Dev Pro.
                </h4>

                <h4 class='mt-3'>
                    E, por fim, mas não menos importante, também vou realizar o sorteio de uma bolsa, totalmente
                    gratuita, para o Bootcamp. Clique aqui para saber como participar.
                </h4>

                <h4 class='mt-3 mb-5'>
                    São por estes motivos que você não pode perder esta aula.
                </h4>

                <a href="http://python.pro.br/r/spp3-aula5?utm_source=lista-vip&utm_medium=trafego-organico&utm_content=l3-bootcamp&utm_content=ty" class='btn btn-warning text-center cta'>
                    <b>Clique aqui para definir um lembrete para a Aula #5</b>
                </a>
            </div>
        </div>
        
        {% block social %}{% endblock %}
    </div>
</div>
{% endblock %}