{% extends 'pages/base.html' %}

{% block title %}Insrição Realizada!{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <div class='bg-primary'>
        <div class="container">
            <div class="row text-center">
                <div class="col hero">
                    <h1 class='font-weight-bold text-light mb-4'>
                        INSCRIÇÃO REALIZADA COM SUCESSO!
                    </h1>
                    
                    <h4 class='text-light'>
                        <b>Corra para o seu email!</b>
                        <br>Eu mandei todas as instruções sobre o webinário por lá.
                    </h4>                    
                    
                    <h4 class='text-light mt-5'>
                        Te vejo na aula!
                    </h4>                    
                </div>
            </div>
            
            <div class="row">
                <div class='offset-md-2 col-md-8 col-sm-12'>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block professor %}{% endblock %}
{% block footer %}{% endblock %}

