{% extends 'pages/base_thank_you.html' %}

{% block content %}
<div class='bg-secondary'>
    <div class="container">
        <div class="row text-center">
            <div class="col hero">
                <h1 class='font-weight-bold  mb-4'>
                    <u>INSCRIÇÃO REALIZADA COM SUCESSO!</u>
                </h1>
                
                <h4 class=''>
                    <b>Corra para o seu email!</b>
                    <br>Eu mandei todas as instruções sobre o webinário por lá.
                </h4>                    
                
                <h4 class=' mt-5'>
                    Mas antes disso, preciso que você cumpra os passos abaixo e me siga nas redes sociais.
                    <b>Me seguir por lá é importante para que você não perca nenhum aviso importante.</b>
                </h4>                    
                <h4 class=' mt-5'>
                    <i>(sabe como é... nem sempre o email chega...)</i>
                </h4>                    
            </div>
        </div>
        
        <div class="row">
            <div class='offset-md-2 col-md-8 col-sm-12'>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}