{% extends 'pages/base_thank_you.html' %}

{% block title %}Bem vindo ao Python Birds! — Dev Pro{% endblock %}

{% block body %}
    <div class='bg-secondary'>
        <div class="container">
            <div class="row text-center">
                <div class="col hero">
                    <h1 class='font-weight-bold  mb-4'>
                        <u>Bem vindo ao Python Birds!</u>
                    </h1>

                    <h3 class=''>
                    <b>Siga as instruções abaixo para iniciar a sua jornada rumo a sua carreira em tecnologia!</b>
                </h3>                    
                
                <h4 class=' mt-5'>
                    Antes de começarmos o curso, eu preciso te dar alguns recadinhos bem rápidos.
                    É importante que você siga os passos abaixo para que possa aproveitar o curso
                    da melhor forma possível. 
                </h4>                    
            </div>
        </div>
    </div>
</div>

<div class=''>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class='font-weight-bold mt-5'>
                    Antes de mais nada, meus parabéns! 
                </h3>

                <p>
                    Você decidiu construir uma carreira em 
                    tecnologia! Essa é uma área muito promissora onde não existe crise. 
                    Meu objetivo é te ajudar na caminhada para você conseguir uma vaga de trabalho.
                </p>

                <p>
                    Então, para te facilitar esses primeiros passos dentro da plataforma, 
                    eu gravei esse vídeo de apenas alguns minutos, que ensina como as coisas funcionam:
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/bexSB6jw2m8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h3 class='mt-5 font-weight-bold'>
                    Para ter acesso a mais conteúdos gratuitos e de qualidade, me acompanhe nas redes 
                    sociais e não perca os conteúdos e dicas sobre Python, carreira e tecnologia!
                </h3>
            </div>
        </div>
    </div>
</div>

<div class=''>
    <div class="container">
        <div class="row text-center">
            <div class='col mt-5'>
                <h4>PASSO 1</h4>
                <h3><b>SE INSCREVA NO MEU<br>CANAL DO YOUTUBE</b></h3>

                <p>
                    Lá no meu canal tem conteúdo de primeira sendo publicado todo santo dia
                    (ou pelo menos quase rs). Clique no botão abaixo para se inscrever. Ah, não
                    esquece também de ativar o sininho.
                </p>
                
                <p>
                    <a href='https://www.youtube.com/channel/UCGjx62365UJ8XTWU_5GZC-g/?sub_confirmation=1' target='_blank' class='btn btn-share btn-yt'>Me Inscrever no Canal</a>
                </p>
            </div>
            
            <div class='col mt-5'>
                <h4>PASSO 2</h4>
                <h3><b>ME SIGA NO <br>INSTAGRAM</b></h3>

                <p>
                    Lá no meu perfil do Instagram eu respondo diariamente perguntas sobre 
                    Python, carreira, desenvolvimento de software e tudo mais o que é ligado
                    a profissão de desenvolvimento de software.
                </p>
                
                <p>
                    <a href='http://instagram.com/renzoprobr' target='_blank' class='btn btn-share btn-ig'>Seguir no Instagram</a>
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class='col mt-5'>
                <h4>PASSO 3</h4>
                <h3><b>ENTRE NO MEU<br>CANAL DO TELEGRAM</b></h3>

                <p>
                    Lá no Telegram é onde eu envio todos os recados mais importantes sobre os
                    conteúdos da Dev Pro. Esses conteúdos são sempre super úteis e, com certeza,
                    vão fazer um diferencial imenso na construção da sua carreira.
                </p>

                <p>
                    <a href='https://bit.ly/canal-python-pro' target='_blank' class='btn btn-share btn-tg'>
                        Entrar no Canal do Telegram
                    </a>
                </p>
            </div>

            <div class='col mt-5'>
                <h4>PASSO 4</h4>
                <h3><b>ENTRE NO GRUPO <br>GALERA Dev Pro</b></h3>

                <p>
                    É lá que a bagunça acontece. São mais de 500 outros programadores
                    que estão na mesma jornada que a sua! Lembre-se: interagir com outros programadores
                    é primordial para você evoluir na sua carreira como programador.
                </p>

                <p>
                    <a href='https://bit.ly/galera-python-pro' target='_blank' class='btn btn-share bg-secondary'>
                        Entrar no Galera Dev Pro!
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>

    <div class=''>
        <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class='mt-5 font-weight-bold'>
                    Pronto! Agora, vamos ao que interessa?
                </h3>

                <p>
                    <a href="/modulos/python-birds/topicos/python-birds-motivacao" class='btn btn-warning text-center cta'>
                        <b>Me leve a primeira aula do Python Birds! ➜</b>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block styles %}{{block.super}}
<style>
    .btn-tg {
        background-color: #0088cc;
    }
</style>
{% endblock%}