{% extends "pages/base_thank_you.html" %}
{% load static %}

{% block body %}
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
        body {
            background-color: #075B50;
            background-size: cover;
            background-repeat: no-repeat;
            color: #fff;
            padding: 10px;
        }
        h1, h2, p {
            font-family: 'Fira Sans', sans-serif !important;
            line-height: 150%;
            letter-spacing: 100%;
            margin: 30px 0;
        }
        h1 {
            font-weight: bold;
            font-size: 35pt;
            padding-top: 50px;
            margin: 0px 0;
        }
        h2 {
            font-weight: bold;
            font-size: 22pt;
            margin: 0px 0;
        }
        p {
            font-weight: bold;
            font-size: 14pt;
        }
    </style>
    <body>
        <div class="flex justify-center items-center w-screen h-screen">
            <div class="p-6 text-center">
                <h1 class="font-weight-bold"><u>PARABÉNS!</u> <span class="ec ec-grinning"></span></h1>
                <h2 class="body-text font-weight-bold">SUA VAGA FOI RESERVADA!</h2>
                <p class="body-text font-weight-bold">
                    Você está sendo redirecionado(a) para o grupo da Masterclass. 
                </p>
                <img src="{% static 'img/whatsapp-loader.gif' %}" style="max-width: 50px; margin: 0 auto 10px;"> 
                <p class="body-text font-weight-bold">
                    <span class="ec ec-stop-sign"></span>
 É <u>MUITO IMPORTANTE</u> que você entre no grupo, 
                    pois lá enviaremos o link de acesso à aula e o material.
                </p>

            </div>
        </div>
        <script>
            
            // Redirect
            function redirect() {
                window.location.href = 'https://www.python.pro.br/r/grupo-rumo-a-primeira-vaga'
            }

            setTimeout(function () {
                redirect()
            }, 6000);

        </script> 
    </body>
{% endblock %}
