{% extends 'core/base.html' %}
{% load static %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Cadastro Módulo Python Birds Feito!</h1>
                <p>Nos próximos 50 dias vc vai receber ao menos uma video aula por dia em seu email. O conteúdo abrange
                    a programação básica de Python, tanto o paradima Procedural quanto o Orientado a Objetos</p>
                <p>Em cada uma das aulas você também poderá se inscrever na Lista de Espera para a próxima turma. Os
                    inscritos nessa lista recebem informação com antecedência sobre as datas da próxima turma e
                    conseguem garantir sua vaga antes da abertura oficial!</p>
                <p>
                   Divirta-se!
                    <br/>
                    Renzo Nucciteli e Luciano Ramalho
                </p>

            </div>
        </div>
    </div>
{% endblock body %}