{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ video.title }}{% endblock %}
{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1>{{ video.title }}</h1>
        <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="640" height="360" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    {% include 'core/leads_form.html' only %}
  </div>
{% endblock body %}