{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ topic.title }}{% endblock %}
{% block description %}{{ topic.description }}{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for title, url in topic.breadcrumb %}
        {% if not forloop.last %}
          <li class="breadcrumb-item"><a href="{{ url }}">{{ title }}</a></li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-4 mb-3">{{ topic.title }}</h1>
        <p>{{ topic.description }}</p>
        <div class="embed-container mb-3">
          <iframe src="https://player.vimeo.com/video/{{ topic.vimeo_id }}" width="640" height="360" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        {% if topic.next_content %}
          <div class="mt-5 mb-5" style="float: right">
            <a class="btn btn-success" href="{{ topic.next_content.get_absolute_url }}">
                Próximo Conteúdo: <strong>{{ topic.next_content.title }}</strong> &raquo;
            </a>
          </div>
        {% endif %}
        <div id='discourse-comments'></div>
        <script type="text/javascript">
          DiscourseEmbed = {
            discourseUrl: '{{ DISCOURSE_BASE_URL }}',
            topicId: {{ topic.discourse_topic_id }}
          };

          (function () {
            var d = document.createElement('script');
            d.type = 'text/javascript';
            d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        </script>

      </div>
    </div>
  </div>
{% endblock body %}
