{% extends 'core/base.html' %}
{% load static %}
{% load permission_tags %}
{% block title %}{{ topic.title }}{% endblock %}
{% block description %}{{ topic.description }}{% endblock %}
{% block head %}
    <script type="application/javascript" src="//player.vimeo.com/api/player.js"></script>
    <script>
        $(document).ready(function () {
            var player = new Vimeo.Player(document.querySelector('#topic-iframe'));

            var totalWatchedTime = 0;
            var lastTimeCheck = 0;
            var maxWatchedTime = 0;
            var topicDuration = null;

            function nowInSeconds() {
                return Math.round(Date.now() / 1000);
            }

            function increaseWatchTime() {
                var now = nowInSeconds();
                totalWatchedTime += now - lastTimeCheck;
                lastTimeCheck = now;
                return totalWatchedTime;
            }

            function setMaxTimeWatched(currentTimeWatch) {
                currentTimeWatch = Math.round(currentTimeWatch);
                maxWatchedTime = Math.max(currentTimeWatch, maxWatchedTime);
                return maxWatchedTime;
            }

            function storeStats() {
                if (maxWatchedTime > 0) {
                    $.post('{% url 'dashboard:topic_interaction' %}',
                        {
                            'topic': {{topic.id}},
                            'topic_duration': topicDuration,
                            'total_watched_time': totalWatchedTime,
                            'max_watched_time': maxWatchedTime
                        }
                    );
                    {# Reset time #}
                    maxWatchedTime = 0;
                    totalWatchedTime = 0;

                }
            }

            player.getDuration().then(function (d) {
                topicDuration = Math.round(d);
            });


            player.on('play', function () {
                lastTimeCheck = nowInSeconds();
            });


            player.on('timeupdate', function (e) {
                setMaxTimeWatched(e.seconds);
                increaseWatchTime();
            });

            $(window).on('beforeunload', storeStats);

            player.on('ended', storeStats);


        });
    </script>

{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for title, url in topic.breadcrumb %}
                {% if not forloop.last %}
                    <li class="breadcrumb-item"><a href="{{ url }}">{{ title }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-3">{{ topic.title }}</h1>
                <p>{{ topic.description|linebreaks }}</p>
                <div class="embed-container mb-3">
                    <iframe id="topic-iframe" src="https://player.vimeo.com/video/{{ topic.vimeo_id }}" width="640"
                            height="360"
                            frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="row mt-5 mb-5">
                {% if topic.previous_content %}
                    <div class="col-md text-md-left text-center">
                        <a class="btn btn-success" href="{{ topic.previous_content.get_absolute_url }}">
                           &laquo; <strong>{{ topic.previous_content.title }}</strong>
                        </a>
                    </div>
                {% endif %}
                {% if topic.next_content %}
                    <div class="col-md text-md-right text-center mt-md-0 mt-2">
                        <a class="btn btn-primary" href="{{ topic.next_content.get_absolute_url }}">
                            <strong>{{ topic.next_content.title }}</strong> &raquo;
                        </a>
                    </div>
                {% endif %}
                </div>
                <div id='discourse-comments'></div>
                <script type="text/javascript">
                    DiscourseEmbed = {
                        discourseUrl: '{{ DISCOURSE_BASE_URL }}',
                        topicId: {{ topic.discourse_topic_id }}
                    };

                    (function () {
                        var d = document.createElement('script');
                        d.type = 'text/javascript';
                        d.async = true;
                        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                    })();
                </script>
            </div>
        </div>
    </div>
{% endblock body %}
