{% extends 'core/base.html' %}
{% load static %}
{% block description %}Curso de programação presencial online na linguagem Python. Aulas práticas do básico ao avançado
    focadas na carreira de Tecnologia{% endblock %}
{% block body %}
    <div class="colors-pallet d-none d-md-block">
        <div class="color-1 pallet"></div>
        <div class="color-2 pallet"></div>
        <div class="color-3 pallet"></div>
        <div class="color-4 pallet"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="pythonpro-title mt-5"><span class="python">Python</span> Pro</h1>
                <h2 class="pythonpro-subtitle mb-4 mb-md-5">Curso Presencial Online Completo<br/> Focado 100%
                    no mercado de Tecnologia!</h2>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container pt-5 pb-5">
            <div class="row mt-8">
                <div class="col-12 col-md mb-3">
                    <div class="embed-container">
                        <iframe src="https://player.vimeo.com/video/258681672" width="640" height="360" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 col-md text-light">
{#                    {% if is_launch_open %}#}
{#                    <h3 class="mb-3">Inscrições Abertas!</h3>#}
{#                    <p>Aulas da turma começam em janeiro. Garanta sua matrícula, vagas limitadas!</p>#}
{#                    <a class="btn btn-warning p-4 font-weight-bold" href="{% url 'checkout:bootcamp_lp' %}?utm_source=pythonpro-home" role="button">SIM! Quero me matricular &raquo;</a>#}
{#    #}
{#                    {% else %}#}
                    <h3 class="mb-3">Curso Python Birds Grátis</h3>
                    <p>Cadastre seu email para ganhar um curso básico de Programação!</p>
                    <a class="btn btn-warning p-4 font-weight-bold" href="{% url 'core:lead_landing' %}" role="button">SIM! Quero meu curso grátis &raquo;</a>
{#                    {% endif %}#}

                    <h5 class="mt-4 mb-2">Já tem conta?</h5>
                    <a class="btn btn-light my-2 my-sm-0 text-dark" href="{% url 'two_factor:login' %}?next={% url 'dashboard:home' %}" role="button">Entrar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 mb-5">
        {% include 'core/instructors.html' %}
    </div>
    <div class="bg-light">
        <div class="container pt-5 pb-5">
            {% include 'core/social_proof.html' %}
        </div>
    </div>
    <div class="bg-primary pt-5 pb-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Quer se transformar também?</h3>
                    {% include 'core/lead_form.html' with form=form %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
