{% load static %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-4 title">Conheça o Instrutor</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Renzo Nuccitelli</h5>
                        <p class="card-text">
                            <img class="img-thumbnail float-right ml-1"
                                 src="{% static 'img/instructors/renzo-nuccitelli.webp' %}"
                                 alt="Instrutor Renzo Nuccitelli">Engenheiro de Computação formado pelo ITA.
                            Especialista em programação web.
                        </p>
                        <p>
                            Foi Diretor de Tecnologia na startup de educação QMagico e Pricez, onde estruturou os times de
                            tecnologia e todo Processo de desenvolvimento.

                        </p>
                        <p>
                            Apaixonado por dar aulas, foi professor da Fatec durante 4 anos onde
                            ministrou as matérias de "Orientação a Objetos" e "Aplicações para Internet", "Estrutura de
                            Dados" e "Javascript". Já palestrou em eventos
                            como Pycon US, Google Developer Bus, DevFest, Rupy e Python Brasil.

                        </p>
                        <p>
                            Especialista em teste automáticos, foi
                            Engenheiro de Qualidade Senior na Red Hat durante 2 anos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>