{% load static %}
<div class="row">
    <div class="col">
        <h1 class="text-center mt-4 mb-4">Conheça os Instrutores</h1>
        <div class="row">
            <div class="col-12 col-md mb-4">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-center">Luciano Ramalho</h5>
                        <p class="card-text">
                            <img class="img-thumbnail float-right ml-1"
                                 src="{% static 'img/instructors/luciano-ramalho.png' %}"
                                 alt="Instrutor Luciano Ramalho">
                            Ramalho é autor do best seller <a
                                href="https://www.amazon.com.br/Python-Fluente-Programa%C3%A7%C3%A3o-Concisa-Eficaz/dp/857522462X">Python
                            Fluente</a>, sucesso mundial em vendas. Hoje é Principal Engineer na ThoughtWorks.
                        </p>
                        <p>
                            Foi
                            diretor
                            técnico do Brasil
                            Online, primeiro portal da Abril S/A na Web. Liderou times para os portais IDG Now,
                            BOL, UOL, AOL
                            Brasil
                            e outros, usando Python desde 1998. Como instrutor, atendeu clientes como Citibank,
                            CPqD, Serpro,
                            Presidência da República, Globo.com e Itaú.
                        </p>
                        <p>
                            Palestrante em eventos internacionais
                            como FISL, PyCon US
                            e
                            OSCON. Ajudou a criar a Associação Python Brasil e foi seu presidente.

                        </p>
                        <p>
                            É membro da
                            Python Software
                            Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title text-center">Renzo Nuccitelli</h5>
                        <p class="card-text">
                            <img class="img-thumbnail float-right ml-1"
                                 src="{% static 'img/instructors/renzo-nuccitelli.png' %}"
                                 alt="Instrutor Renzo Nuccitelli">Engenheiro de Computação formado pelo ITA.
                            Especialista em
                            programação web. Hoje é Diretor de Tecnologia na Pricez.
                        </p>
                        <p>
                            Foi também Diretor de Tecnologia na startup de educação QMagico. Onde estruturou o time de
                            tecnologia e todo Processo de desenvolvimento.

                        </p>
                        <p>
                            Apaixonado por dar aulas, foi professor da Fatec durante 4 anos onde
                            ministrou as matérias de "Orientação a Objetos" e "Aplicações para Internet", "Estrutura de Dados" e "Javascript". Já palestrou em eventos
                            como Pycon US, Google Developer Bus, DevFest, Rupy e Python Brasil. Escreve sobre
                            tecnologia em seu
                            <a href="blog.renzo.pro.br" target="_blank">blog</a> .

                        </p>
                        <p>
                            Especialista teste automáticos, foi
                            Engenheiro de Qualidade Senior na Red Hat durante 2 anos.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>