{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Cadastro realizado com Sucesso!</h1>
      <p>
        Você receberá 4 emails nas próximas 4 semanas. Seguiremos um cronograma para você aprender o básico de
        programação. É muito importante que você siga os passos para poder construir a carreira de seus
        sonhos.
      </p>
      <p>
        Mas se você está ansioso para começar os estudos, acesse o módulo definindo uma senha
        através do formulário abaixo.
      </p>
      <p>
        <form method="post" action="{% url 'core:lead_change_password' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
            <input type="password" name="{{ form.new_password1.html_name }}" class="form-control" autofocus=""
              maxlength="{{ form.new_password1.max_length }}" required="required"
              id="{{ form.new_password1.id_for_label }}">

            {% if form.errors.new_password1 %}
            <div class='alert alert-danger'>{{ form.errors.new_password1}}</div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
            <input type="password" name="{{ form.new_password2.html_name }}" class="form-control" autofocus=""
              maxlength="{{ form.new_password2.max_length }}" required="required"
              id="{{ form.new_password2.id_for_label }}">

            {% if form.errors.new_password2 %}
            <div class='alert alert-danger'>{{ form.errors.new_password2}}</div>
            {% endif %}
          </div>
          <button class="btn btn-warning">Acessar o <span class="font-weight-bold"><u>CURSO GRÁTIS</u></span>
            &raquo;</button>
        </form>

      </p>
    </div>
  </div>
</div>
{% endblock body %}