{% extends 'core/base_without_nav.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  Aprenda Python de Graça! - Aprenda a programar com a linguagem mais rentável que existe
  e tenha acesso a um mercado que paga altos salários e está repleto de vagas em aberto!
{% endblock %}

{% block description %}
  Que tal aprender a programar com a lingugagem mais simples e poderosa? 
  Este é o curso de introdução Python que eu venho ministrando ao longo dos 
  anos para ensinar as pessoas a programarem.
{% endblock %}

{% block styles %}
  <link href="{% static 'css/python-birds/custom.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/python-birds/magnific-popup.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/python-birds/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/python-birds/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/python-birds/normalize.min.css' %}" rel="stylesheet">
{% endblock %}

{% block head %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'python-birds/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/python-birds/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/python-birds/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/python-birds/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/python-birds/safari-pinned-tab.svg' %}" color="#777777">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://www.python.pro.br/" />
  <meta name="twitter:title" content="Aprenda Python de Graça - Aprenda a programar com a linguagem mais rentável que existe e tenha acesso a um mercado que paga altos salários e está repleto de vagas em aberto!" />
  <meta name="twitter:description" content="Que tal aprender a programar com a lingugagem mais simples e poderosa? Este é o curso de introdução Python que eu venho ministrando ao longo dos anos para ensinar as pessoas a programarem." />
  <meta property="twitter:image" content="{% static 'img/python-birds/card-python-de-graca.png' %}" />
  <meta property="og:url" content="https://www.python.pro.br/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Aprenda Python de Graça - Aprenda a programar com a linguagem mais rentável que existe e tenha acesso a um mercado que paga altos salários e está repleto de vagas em aberto!" />
  <meta property="og:site_name" content="Aprenda Python de Graça - Aprenda a programar com a linguagem mais rentável que existe e tenha acesso a um mercado que paga altos salários e está repleto de vagas em aberto!" />
  <meta property="og:description" content="Que tal aprender a programar com a lingugagem mais simples e poderosa? Este é o curso de introdução Python que eu venho ministrando ao longo dos anos para ensinar as pessoas a programarem." />
  <meta property="og:image" content="{% static 'img/python-birds/card-python-de-graca.png' %}" />
{% endblock %}

{% block scripts %}{% endblock %}
{% block bottom_scripts %}
  {% include 'core/_scripts.html' %}
  <script src="{% static 'js/python-birds/jquery.min.js' %}"></script>
  <script src="{% static 'js/python-birds/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/python-birds/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/python-birds/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    jQuery("#id_phone").mask("(00) 000000009");
  </script>
{% endblock %}

{% block body %}
    <header class="header" id="header">
    <img class="header__mobile-left" src="{% static 'img/python-birds/header/header-detail-top-left.jpg' %}" alt="Detalhe de uma nuvem">
    <img class="header__mobile-right" src="{% static 'img/python-birds/header/header-detail-top-right.jpg' %}" alt="Detalhe de um pedra de concreto com um furo grande no centro">

    <div class="header__group">
      <div class="header__group__content">
        <div class="header__group__content__item">
          <img src="{% static 'img/python-birds/header/logo-python.png' %}" alt="Logo do Python">
          <h1 class="text-blue fw-900 text-uppercase font-highlighted">Aprenda Python <span class="break">de graça!</span>
          </h1>
          <h2 class="text-blue fw-500">Aprenda a programar com a <b>linguagem mais rentável que existe</b> e tenha acesso a um mercado que paga <b>altos salários</b> e está repleto de <b>vagas em aberto</b>!</h2>
        </div>

        <img class="header__group__content__mobile-center" src="{% static 'img/python-birds/header/header-detail-middle.png' %}" alt="Detalhe com madeira; tamanho pequeno">
      </div>

      <div class="header__group__form">
        <div class="header__group__form__item">
          <h3 class="text-uppercase text-yellow fw-700">Inscreva-se <span class="break">agora mesmo!</span></h3>
          <h4 class="text-white fw-500">Preencha o formulário e tenha acesso <span class="text-uppercase">grátis</span>.
          </h4>

          <form method="POST" action="{% autoescape off %}{{ form_action }}{% endautoescape %}" class="header__group__form__item">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="header__group__form__item__div">
                  <button class="header__group__form__button text-uppercase fw-700 main-transition">Sim, quero aprender
                      Python!
                  </button>
                  <div class="header__group__form__item__div__bottom"></div>
              </div>
          </form>
        </div>
      </div>
    </div>
        <img class="header__mobile-bottom" src="{% static 'img/python-birds/header/header-renzo-bottom-mobile.jpg' %}"
             alt="Renzo Nuccitelli olhando para frente; sorriso sem mostrar os dentes; braços cruzados; camiseta preta do Dev Pro; fundo amarelo">
    </header>

    <a name='carga-horaria'></a>
    <main role="main">
    <section class="learning">
        <div class="learning__group">
            <h2 class="text-blue font-highlighted fw-900">Que Tal Aprender a Programar Com a Linguagem Mais Simples e
                Poderosa?</h2>
            <h3 class="fw-500">Este é o curso de introdução a programação Python que eu venho ministrando ao longo dos
                anos para ensinar as pessoas a programarem.</h3>

            <div class="learning__group__content">
          <img class="learning__group__content__detail-top" src="{% static 'img/python-birds/learning/learning-detail-top.jpg' %}" alt="Detalhe de pedaço de madeira com 2 pontas ao lado direito">
          <img class="learning__group__content__detail-right" src="{% static 'img/python-birds/learning/learning-detail-right.jpg' %}" alt="Concreto no formato de um quadrado com furo grande ao centro">

          <img
            sizes="(max-width: 603px) 100vw, 603px"
            srcset="
            {% static 'img/python-birds/learning/learning-1_vgsvdd_c_scale,w_200.jpg' %} 200w,
            {% static 'img/python-birds/learning/learning-1_vgsvdd_c_scale,w_450.jpg' %} 450w,
            {% static 'img/python-birds/learning/learning-1_vgsvdd_c_scale,w_603.jpg' %} 603w"
            src="{% static 'img/python-birds/learning/learning-1_vgsvdd_c_scale,w_603.jpg' %}"
            alt="Print do jogo Angry Birds">
          <div class="learning__group__content__text">
            <h4 class="fw-900 font-highlighted text-blue">Com Esse Curso Você Vai...</h4>
            <p class="main-list">Desmistificar o mundo da programação, preparando seu computador para começar a programar em menos de 30 minutos;</p>
            <p class="main-list">Entender os princípios básicos e fundamentais da programação de forma rápida, prática e objetiva;</p>
            <p class="main-list">De forma prática. Você vai colocar a mão na massa!</p>

            <div class="header__group__form__item__div">
              <a class="header__group__form__button text-uppercase fw-700 main-transition" href="#header">Sim, quero aprender Python!</a>
              <div class="header__group__form__item__div__bottom"></div>
            </div>
          </div>
        </div>

        <a name='instrutores'></a>
        <div class="learning__group__renzo">
          <div>
            <h4 class="fw-900 font-highlighted text-blue">Conheça o Seu Professor</h4>
            <p>Olá! Meu nome é Renzo, muito prazer em conhecê-lo!</p>
            <p>Eu sou programador há 14 anos e professor há 10 anos.</p>
            <p>Meu sonho sempre foi que as pessoas pudessem construir as mesmas oportunidades que construí...</p>
            <p>Por isso estou aqui para te fazer uma proposta que tenho certeza que vai te deixar muito interessado.</p>
          </div>

          <img
            sizes="(max-width: 659px) 100vw, 659px"
            srcset="
            {% static 'img/python-birds/learning/learning-2_ihqj3j_c_scale,w_200.jpg' %} 200w,
            {% static 'img/python-birds/learning/learning-2_ihqj3j_c_scale,w_349.jpg' %} 349w,
            {% static 'img/python-birds/learning/learning-2_ihqj3j_c_scale,w_659.jpg' %} 659w"
            src="{% static 'img/python-birds/learning/learning-2_ihqj3j_c_scale,w_659.jpg' %}"
            alt="Renzo Nuccitelli; sorrindo; fazendo 'joinha'; camiseta do Dev Pro'">

            <img class="learning__group__content__detail-bottom" src="{% static 'img/python-birds/learning/learning-detail-bottom.jpg' %}" alt="Detalhe de pedaço de madeira com 2 pontas ao lado direito e abaixo">
        </div>
      </div>
    </section>

    <section class="companies">
      <div class="companies__group">
        <h2 class="text-blue font-highlighted fw-900">Empresas que usam Python</h2>

        <div class="companies__group__list">
          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-google.jpg' %}" alt="Logo Google">
          </div>

          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-nasa.jpg' %}" alt="Logo Nasa">
          </div>

          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-netflix.jpg' %}" alt="Logo Netflix">
          </div>

          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-spotify.jpg' %}" alt="Logo Spotify">
          </div>

          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-uber.jpg' %}" alt="Logo Uber">
          </div>

          <div class="companies__group__list__item">
            <img src="{% static 'img/python-birds/companies/logo-yahoo.jpg' %}" alt="Logo Yahoo!">
          </div>

          <img class="companies__group__detail" src="{% static 'img/python-birds/companies/companies-detail.png' %}" alt="Imagem de 2 madeiras (uma maior em cima e outra menor em baixo)">
        </div>
      </div>
    </section>

    {% block extracontent %}
    <section class="why">
      <div class="why__group">
        <img class="why__group__detail-top" src="{% static 'img/python-birds/why/why-detail.jpg' %}" alt="Detalhe de pedaço pequeno de madeira">

        <h2 class="text-blue font-highlighted fw-900">Saiba Porque Você Deveria Aprender a Programar...</h2>

        <div class="why__group__paper">
          <img class="why__group__paper__item" src="{% static 'img/python-birds/why/why-paper.jpg' %}" alt="Papel quadriculado recortado">

          <div class="why__group__paper__content">
            <div class="why__group__paper__content__flex">
              <img src="{% static 'img/python-birds/why/logo-valor-economico.jpg' %}" alt="Logo Valor Econômico">
              <h3 class="fw-900 text-blue">Sobram vagas para quem tem habilidades digitais</h3>
            </div>

            <p>O mercado de tecnologia é o mercado que mais cresce na atualidade. A demanda é enorme, e, segundo a notícia, as faculdades só conseguem suprir 65% desta demanda.</p>
            <p>Só que esses números não são reais. Sabe por quê? Porque a faculdade não prepara para o mercado de trabalho.</p>
            <p>Eu sei disso porque sempre estou contratando novos programadores.</p>
            <p>Além disso, também já fui professor universitário e pude conferir, de lá de dentro, como os cursos estão muito mais atrasados perante as exigências do mercado de trabalho...</p>
            <p>(Inclusive este foi um dos motivos que resolvi largar minha profissão como professor universitário e passei a ensinar pela internet).</p>
            <p>Além disso, o mercado de tecnologia é um mercado que nunca passou por uma crise.</p>
            <p>Isso acontece por causa dessa diferença entre necessidade de novos profissionais e falta de profissionais qualificados.</p>
            <p>Eu eu posso te falar isso com propriedade, pois estou no mercado há quase 15 anos e nunca fiquei desempregado.</p>
            <p>E essa regra não vale só pra mim. Dificilmente vejo um colega de profissão sem emprego.</p>
            <p><span class="bg-light-yellow fw-700"> Resumindo: O mercado de tecnologia está repleto de oportunidades. E, como falta gente, eles pagam muito bem! </span></p>
            <p>Agora olha essa outra notícia, que saiu na InfoMoney, dia 08 de Janeiro de 2020:</p>
            <p>13 dos 15 cargos, ou seja, 85%, tem ligação direta com tecnologia.</p>
            <p>Essa notícia tem total relação com a notícia anterior, sabe por quê? Porque hoje em dia praticamente todas as profissões possuem relação direta com tecnologia.</p>
            <p>Só que para você trabalhar neste mercado, você precisa saber programar. Isso é pré-requisito.</p>
          </div>
        </div>
      </div>
    </section>

    <a name="porque-python"></a>
    <section class="why python">
      <div class="why__group">
        <img class="why__group__detail-left" src="{% static 'img/python-birds/why/python-detail-top-left.jpg' %}" alt="Imagem de madeira; tamanho médio; 2 pontas na esquerda">

        <h2 class="font-highlighted fw-900 text-blue">Por que aprender Python?</h2>

        <div class="why__group__paper">
          <img class="why__group__paper__item" src="{% static 'img/python-birds/why/why-paper.jpg' %}" alt="Papel quadriculado recortado">

          <div class="why__group__paper__content python">
            <img class="why__group__paper__content__detail-right" src="{% static 'img/python-birds/why/python-detail-top-right.png' %}" alt="Detalhe de pedaço de madeira pequeno">

            <div class="why__group__paper__content__flex">
              <img src="{% static 'img/python-birds/why/logo-computerworld.jpg' %}" alt="Logo Computerworld">
              <h3>9 motivos para aprender Python em 2020</h3>
            </div>
          </div>
        </div>

        <h4 class="font-highlighted fw-900 text-blue computerworld-text">Esta é uma matéria de um site super conceituado no ramo de tecnologia, o ComputerWorld</h4>
        <h5 class="fw-300 text-underline">Veja um trecho da reportagem:</h5>

        <div class="python__group__paper--big">
          <p class="fw-500">“Analogias para referir-se ao Python não faltam: novo Excel, simples como o inglês, canivete suíço da TI. Todo esse descritivo está muito ligado à sua natureza versátil e à grande variedade de projetos a que a linguagem de programação tem sido aplicada com bons resultados. Se você conhece alguma linguagem e anda na dúvida sobre o que estudar como segunda opção, aqui listamos 9 boas razões para sua escolha ser Python. Se você não conhece nada de programação e pensa em se iniciar nessa área, os mesmos motivos vão te inspirar, mas, sobre tudo: a simplicidade do código, a alta demanda e os salários.”</p>
        </div>

        <div class="python__group__description">
          <div class="python__group__description__bg"></div>

          <div class="python__group__description__content">
            <h4 class="fw-300">Estes são os adjetivos utilizados para descrever a linguagem Python. Python é simples, rápido e fácil.</h4>

            <div class="python__group__description__content__items">
              <p class="fw-900 text-blue main-list">Novo Excel;</p>
              <p class="fw-900 text-blue main-list">Simples como Inglês;</p>
              <p class="fw-900 text-blue main-list">Canivete Suiço;</p>
              <p class="fw-900 text-blue main-list">Soja da TI.</p>
            </div>
          </div>
        </div>

        <div class="python__group__data">
          <img class="python__group__data__detail-popular" src="{% static 'img/python-birds/why/python-detail-middle.jpg' %}" alt="Desenho de pedaço de madeira; tamanho médio; 2 pontas na direita">

          <h3 class="fw-900 text-blue">Tecnologias mais populares</h3>

          <div class="python__group__data__item">
            <p class="fw-500">JavaScript</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--67"></div>
            <span>67,8%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">HTML/CSS</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--63"></div>
            <span>63,5%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">SQL</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--54"></div>
            <span>54,4%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-700 text-yellow">Python</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--python python__group__data__item__bar--41-7"></div>
            <span>41,7%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">Java</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--41-1"></div>
            <span>41,1%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">Bash/Shell/ Powershell</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--36-6"></div>
            <span>36,6%</span>
          </div>

          <h3 class="fw-300 text-blue based">Fonte: StackOverflow</h3>

          <h5 class="fw-900 text-blue">Python é a quarta linguagem de programação mais popular do mundo!</h5>
          <h6 class="fw-300">(Se levarmos em consideração que boa parte do mercado de tecnologia não considera HTML/CSS e SQL como linguagens de programação, de fato, podemos considerar que <span class="fw-700">Python é a segunda linguagem de programação mais popular no mundo</span>)</h6>
        </div>

        <div class="python__group__data">
          <h3 class="fw-900 text-blue">Tecnologias mais amadas</h3>

          <div class="python__group__data__item">
            <p class="fw-500">Rust</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--83"></div>
            <span>83,5%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-700 text-yellow">Python</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--python python__group__data__item__bar--73"></div>
            <span>73,1%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">TypeScript</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--73"></div>
            <span>73,1%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">Kotlin</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--72"></div>
            <span>72,6%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">WebAssembly</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--41-1"></div>
            <span>41,1%</span>
          </div>

          <h3 class="fw-300 text-blue based">Fonte: StackOverflow</h3>

          <img class="python__group__data__detail-loved" src="{% static 'img/python-birds/why/python-detail-top-right.png' %}" alt="Imagem de um pedaço de madeira pequeno">
        </div>

        <div class="python__group__data">
          <h3 class="fw-900 text-blue">Tecnologias mais procuradas</h3>

          <div class="python__group__data__item">
            <p class="fw-700 text-yellow">Python</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--python python__group__data__item__bar--25"></div>
            <span>25,7%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">JavaScript</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--17"></div>
            <span>17,8%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">Go</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--15"></div>
            <span>15,0%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">TypeScript</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--14"></div>
            <span>14,6%</span>
          </div>

          <div class="python__group__data__item">
            <p class="fw-500">Kotlin</p>
            <div class="python__group__data__item__bar python__group__data__item__bar--11"></div>
            <span>11,1%</span>
          </div>

          <h3 class="fw-300 text-blue based">Fonte: StackOverflow</h3>
        </div>

        <div class="python__group__disclaimer">
          <h3 class="fw-900 text-blue">Além disso, é a segunda linguagem mais amada e a primeira linguagem mais desejada. Todos esses dados foram obtidos através de uma pesquisa feita em 2019 pelo site StackOverflow, a maior comunidade de programadores do mundo.</h3>
          <h4 class="fw-300">Esta pesquisa foi respondida por aproximadamente 90 mil programadores, espalhados por todo o mundo.</h4>
          <h5 class="fw-900 text-blue">Ou seja, Python com certeza é a melhor opção para se aprender!</h5>

          <div class="header__group__form__item__div">
            <a class="header__group__form__button text-uppercase fw-700 main-transition" href="#header">Sim, quero aprender Python!</a>
            <div class="header__group__form__item__div__bottom"></div>
          </div>

          <img class="python__group__disclaimer__detail-left" src="{% static 'img/python-birds/why/python-detail-bottom-left.jpg' %}" alt="Pedaço quebrado de madeira com duas pontas do lado direito">
          <img class="python__group__disclaimer__detail-right" src="{% static 'img/python-birds/why/python-detail-bottom-right.jpg' %}" alt="Pedaço de bloco de concreto com buraco ao centro">
        </div>
      </div>
    </section>
    {% endblock extracontent %}

    <a name='alunos-transformados'></a>
    <section class="testimonials">
      <img class="testimonials__detail" src="{% static 'img/python-birds/testimonials/testimonials-detail-top.png' %}" alt="Retângulo com fundo branco e efeito de 'recortes' acima" width="100%">

      <div class="testimonials__group">
        <h2 class="fw-900 text-blue">Alunos Transformados</h2>

        <div class="testimonials-classes__group__people owl-carousel">
          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=TtlB4E7_MZM">
            <img src="{% static 'img/python-birds/testimonials/thumb-2.jpg' %}" alt="Card do vídeo 2">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=p-ZNsU9KLVkoM">
            <img src="{% static 'img/python-birds/testimonials/thumb-3.jpg' %}" alt="Card do vídeo 3">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=0HP2nS44Ip4">
            <img src="{% static 'img/python-birds/testimonials/thumb-4.jpg' %}" alt="Card do vídeo 4">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNgfS9Ohwac">
            <img src="{% static 'img/python-birds/testimonials/thumb-5.jpg' %}" alt="Card do vídeo 5">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SwGDBRrjyf0">
            <img src="{% static 'img/python-birds/testimonials/thumb-6.jpg' %}" alt="Card do vídeo 6">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=avyZ4WjluEo">
            <img src="{% static 'img/python-birds/testimonials/thumb-7.jpg' %}" alt="Card do vídeo 7">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=J4uv2lk_rZ0">
            <img src="{% static 'img/python-birds/testimonials/thumb-8.jpg' %}" alt="Card do vídeo 8">
          </a>
        </div>

        <div class="header__group__form__item__div">
          <a class="header__group__form__button text-uppercase fw-700 main-transition" href="#header">Sim, quero aprender Python!</a>
          <div class="header__group__form__item__div__bottom"></div>
        </div>
      </div>
    </section>

    {% comment %} <footer class="footer">
      <div class="footer__group">
        <span class="fw-500 text-blue">Python de Graça 2020 - Todos os direitos reservados.</span>
      </div>
    </footer>
  </main> {% endcomment %}
{% endblock %}

{% comment %} {% block footer %}{% endblock %} {% endcomment %}