<div class="justify-content-center text-center">
  <h1 class="mb-3">Entre na fila de espera para a próxima turma</h1>
  <form class="form-inline justify-content-center" action="https://python.us17.list-manage.com/subscribe/post?u=ff7c56095f83f9c254edd749e&amp;id=a88d1dd555"
        method="post" name="mc-embedded-subscribe-form"
        target="_blank">
    <div class="form-row">
      <div class="col-12 col-md mb-2 mb-md-0">
        <input type="email" name="EMAIL" class="form-control" placeholder="Email" required="required">
      </div>
      <div class="col-12 col-md mb-2 mb-md-0">
        <input type="text" name="FNAME" class="form-control" placeholder="Nome" required="required">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text"
               name="b_ff7c56095f83f9c254edd749e_a88d1dd555"
               tabindex="-1" value=""></div>
      <div class="col-12 col-md align-content-start text-left">
        <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>
      </div>
    </div>
  </form>
</div>