{% extends 'core/lead_landing_page.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Curso de Python Grátis: Python Birds{% endblock %}
{% block description %}Curso de Python Grátis. Aprenda a programar de forma rápida, fácil e simples!{% endblock %}

{% block head %}
    {{block.super}}
    <style>
        .bg-secondary {
            background-color: #fff !important; 
        }
    </style>
{% endblock %}

{% block first_block %}
    <div class='bg-secondary'>
        <div class="container">
            <div class="row text-center">
                <div class="col hero">
                    <h1 class=''>
                        QUE TAL <b><u>APRENDER PYTHON EM 4 SEMANAS</u></b> COM O MEU CURSO COMPLETO, 
                        <b><u>DE FORMA TOTALMENTE GRATUITA?</u></b>
                    </h1>
                    <p class='mb-5 mt-5'>
                        Aprenda a programar com a <b>linguagem mais rentável</b> que existe e tenha acesso 
                        a <b>um mercado que paga altos salários e está repleto de vagas em aberto!</b>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block lead_form_1_title %}{% endblock %}

{% block second_block %}{% endblock %}
{% block third_block %}{% endblock %}
{% block fourth_block %}{% endblock %}
{% block fifth_block %}{% endblock %}
{% block sixth_block %}{% endblock %}
{% block seventh_block %}{% endblock %}
{% block eighth_block %}{% endblock %}
{% block ninth_block %}{% endblock %}
