{% extends 'core/base_without_nav.html' %}
{% load static %}
{% block title %}Curso de Python Grátis{% endblock %}
{% block description %}Curso Básico de Python voltado para quem quer entrar no mercado de tecnologia!{% endblock %}
{% block body %}
    <div class="bg-primary pt-5 pb-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <h1 class="mb-4">Como seria não se preocupar com desemprego?</h1>
                    <p>Já se imaginou sendo disputado por empresas? E ainda por cima ganhar um bom salário mesmo
                        em tempo de crise? </p>
                    <p>Pois essa área existe e tem muita gente faturando alto com programação e tecnologia. E diferente
                        do senso comum, qualquer pessoa é capaz de aprender a programar.
                    </p>
                    <p>Por isso nós liberamos o curso introdutório gratuito, para você pode comprovar sem risco.
                        Faça seu cadastro gratuito e aprenda o básico de programação em apenas 4 semanas!
                    </p>
                </div>
                <div class="col-12 col-md">
                    <h3>Curso Python Birds Gratuito!</h3>
                    {% include 'core/lead_form.html' with form=form %}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container pt-4 pb-3">
            <div class="row">
                <div class="col">
                    <h3 class="mb-3">Esse curso básico vai te ajudar a:</h3>
                    <dt>Desmistificar o Mundo da Programação</dt>
                    <dd>Você vai instalar os programas necessários e começar a programar em menos de 30 minutos.</dd>
                    <dt class="mt-2">Entender os Princípios Básicos</dt>
                    <dd>Esse curso aborda os conceitos fundamentais de forma objetiva, é o primeiro passo rumo a sua
                        carreira em TI!
                    </dd>
                    <dt class="mt-2">Mostrar como a Tecnologia é divertida</dt>
                    <dd>Você vai poder avaliar sua aptidão construindo um projeto prático. Seguindo o método, poderá se
                        inserir no mercado mais rápido do que vc imagina!
                    </dd>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pt-5 pb-5">
        {% include 'core/instructors.html' %}
    </div>
    <div class="bg-light">
        <div class="container pt-5 pb-5">
            {% include 'core/social_proof.html' %}
        </div>
    </div>
    <div class="bg-primary pt-5 pb-5 text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <h3>Quer se transformar também?</h3>
                    {% include 'core/lead_form.html' with form=form %}

                </div>
            </div>
        </div>
    </div>
{% endblock body %}