{% extends 'core/base.html' %}
{% load static %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">RenzoPro Cast - Podcast pessoal do Renzo</h1>
                <p>Podcast onde Renzo aborda asssuntos relacionados a carreira, negócio e
                    empreededorismo.<br/>
                </p>
                <a href="https://anchor.fm/renzoprocast" target="_blank">Todos Episódios</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe class="mt-2 mb-4" src="https://anchor.fm/renzoprocast/embed" height="102px" width="400px"
                        frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
{% endblock body %}