{% extends 'core/base.html' %}
{% load static %}
{% block title %}Podcast RenzoProCast{% endblock %}
{% block description %}Canal para compartilhar insights sobre tecnologia da informação , mercado e carreira. As vezes combinações de teorias que vejo por aí, as vezes princípios que funcionam para mim.{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col mb-3">
                <h1 class="mb-3">RenzoPro Cast - Podcast pessoal do Renzo</h1>
                <p>Podcast onde Renzo aborda asssuntos relacionados a carreira, negócio e
                    empreededorismo.<br/>
                </p>
                <a class="btn btn-primary" href="https://t.me/renzoprocast" target="_blank">Entre no grupo público do podcast no Telegram!</a>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe class="mt-2 mb-4" src="https://anchor.fm/renzoprocast/embed" height="102px" width="400px"
                        frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="https://anchor.fm/renzoprocast" target="_blank">Ouça Todos Episódios</a>
            </div>
        </div>
    </div>
{% endblock body %}