{% extends "core/base.html" %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-6">
                <h1 class="mb-4 mt-4">Alteração de Senha</h1>
                <form method="post" action="{% url 'core:profile_password' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label_tag }}</label>
                        <input type="password" name="{{ form.old_password.html_name }}"
                               class="form-control{% if form.old_password.errors %} is-invalid{% endif %}"
                               autofocus="" maxlength="{{ form.old_password.max_length }}"
                               required="required" id="{{ form.old_password.id_for_label }}">
                        <div class="invalid-feedback">
                            {{ form.old_password.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
                        <input type="password" name="{{ form.new_password1.html_name }}"
                               class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}"
                               autofocus="" maxlength="{{ form.new_password1.max_length }}"
                               required="required" id="{{ form.new_password1.id_for_label }}">
                        <div class="invalid-feedback">
                            {{ form.new_password1.errors }}
                        </div>
                        <small  class="form-text text-muted">
                            {{ form.new_password1.help_text|safe }}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
                        <input type="password" name="{{ form.new_password2.html_name }}"
                               class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}"
                               autofocus="" maxlength="{{ form.new_password2.max_length }}"
                               required="required" id="{{ form.new_password2.id_for_label }}">
                        <div class="invalid-feedback">
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Trocar Senha</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}