<div class="row">
    <div class="col">
        <h1 class="text-center mb-4">Alunos Transformados</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md mb-md-0 mb-4">
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p-7b3LYxXPc" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-12 col-md mb-md-0 mb-4">
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J4uv2lk_rZ0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md mb-md-0 mb-4">
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3g0g4atd858" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-12 col-md mb-md-0 mb-4">
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tICJmFSxuJg" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CSuz1aYsaic" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>