{% load static %}

<div class="row title">
    <div class="col">
        <h1 class="text-center mb-4">Alunos Transformados</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="p-7b3LYxXPc">
            <img src='{% static 'img/social-proof/fabricio.webp' %}' class='img-fluid lazy'>
        </a>
    </div>

    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="Qg8LmM2Sfxg">
            <img src='{% static 'img/social-proof/testando-o-mercado.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="TtlB4E7_MZM">
            <img src='{% static 'img/social-proof/ferrabras.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="ZNsU9KLVkoM">
            <img src='{% static 'img/social-proof/isaac.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="0HP2nS44Ip4">
            <img src='{% static 'img/social-proof/alysson.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="ZNgfS9Ohwac">
            <img src='{% static 'img/social-proof/marcelo.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="SwGDBRrjyf0">
            <img src='{% static 'img/social-proof/diego.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="avyZ4WjluEo">
            <img src='{% static 'img/social-proof/vinicius.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="J4uv2lk_rZ0">
            <img src='{% static 'img/social-proof/vicente.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
</div>

<div class="row">
    {% comment %} <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="3g0g4atd858">
            <img src='{% static 'img/social-proof/fabricio.webp' %}' class='img-fluid lazy'>
        </a>
    </div> {% endcomment %}
    {% comment %} <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="tICJmFSxuJg">
            <img src='{% static 'img/social-proof/fabricio.webp' %}' class='img-fluid lazy'>
        </a>
    </div>
    <div class="col-12 col-md mb-4">
        <a href='#' class='img-testimonial' data-toggle='modal' 
            data-target="#idModalTestimonial" data-youtube-id="CSuz1aYsaic">
            <img src='{% static 'img/social-proof/fabricio.webp' %}' class='img-fluid lazy'>
        </a>
    </div> {% endcomment %}
</div>


<div class="modal fade social-proof" id="idModalTestimonial" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class='embed-video'>
            <iframe id='youtubeTestimonialEmbed' src="" frameborder="0"></iframe>
        </div>
    </div>
  </div>
</div>

<script>
    $(function(){
        $(".img-testimonial").click(function(el) {
            var youtube_id = $(this).data('youtube-id');
            var url = "https://www.youtube.com/embed/"+ youtube_id +"?rel=0&showinfo=0&autoplay=1 "
            
            $("#youtubeTestimonialEmbed").attr('src', url)
        });
        
        $('#idModalTestimonial').on('hide.bs.modal', function (event) {
            $("#youtubeTestimonialEmbed").attr('src', '')
        })
    });
</script>

<style>
    .social-proof .modal-content {
        background: rgba(0, 0, 0, 0) !important;
    }

    @media (min-width: 768px) and (max-width: 899px) {
        #youtubeTestimonialEmbed {
            width: 498px;
            height: 281px;
        }
    }
    @media (min-width: 900px) {
        #youtubeTestimonialEmbed {
            width: 798px;
            height: 449px;
        }
    }
</style>