{% extends 'core/base.html' %}
{% load static %}
{% block title %}Tech Talks Dev Pro{% endblock %}
{% block description %}Tech Talks são encontros períodicos em que tratamos temas e dúvidas trazidos pelos alunos do
    curso Dev Pro. Falamos sobra Programação e Carreira na área de tecnologia{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">Tech Talks Dev Pro</h1>
                <p class="mb-0">Tech Talks são encontros períodicos em que tratamos temas trazidos pelos alunos. Abaixo
                    você encontra toda a lista de vídeos já gravados.<br/>
                    <a href="https://www.youtube.com/watch?v=bo3wH14JzQQ&index=1&list=PLA05yVJtRWYSQ0loqX4Er6wIwJ_sU8j3S"
                       target="_blank">Inscreva-se no canal</a> para ser avisado dos novos vídeos e lives!
                </p>
                <div class="embed-container mt-3 border rounded">
                    <iframe src="https://www.youtube.com/embed/videoseries?list=PLA05yVJtRWYSQ0loqX4Er6wIwJ_sU8j3S"
                            width="640" height="360"
                            frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}