{% extends 'core/base.html' %}
{% load static %}

{% block title %}Descastratamento{% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mt-5 mb-4">Descadastramento feito com sucesso!</h1>
                <p>É uma pena ver você deixar de acompanhar meu conteúdo.</p>
                <p>Mas integridade é o principal valor aqui dentro do Dev Pro. Então respeito completamente sua
                    decisão.</p>
                <p>E se precisar, você já sabe onde encontrar conteúdo de técnico de qualidade.</p>
                <p>Desejo sucesso em sua jornada.</p>
                <p>Grande Abraço,<br/>
                    Renzo
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
