{% extends 'core/base.html' %}
{% load static %}
{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Incrição na Lista de Espera Feita!</h1>
                <p>Nós não enviamos spam nessa lista, apenas avisamos com antecedência sobre as datas da próxima
                    turma.</p>
                <p>Enviaremos também link de inscrição exclusivo com antecedência. Assim você não corre o risco de ficar
                    de fora, já que na última vez as vagas acabaram em uma semana.</p>
                <p>
                    Muito obrigado pela confiança em nosso trabalho,<br/>
                    Renzo Nucciteli
                </p>

            </div>
        </div>
    </div>
{% endblock body %}