{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
    <div class="sidebar-item">
        <h4 class="white-txt">16 encontros de checagem de estudos!</h4>
        <div>Conte com Renzo e Roger para indicar o que estudar a cada semana</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">3 Monitorias por semana!</h4>
        <div>Online para tirar TODAS suas dúvidas</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">1 encontro avançado por semana</h4>
        <div>Faça projetos reais e avançados com especialistas</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">12 Cursos Completos</h4>
        <div>Com aulas curtas e objetivas para te levar pro mercado</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso ao Fórum</h4>
        <div>Tire todas suas dúvidas das mais 300 vídeo-aulas</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Servidor do Discord exclusivo</h4>
        <div>Para construir sua rede de contatos na área de tecnologia</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Bonus Imperdível</h4>
        <div>{% block bonus_block %}2 anos de acesso à Comunidade DevPro {% endblock bonus_block %}</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso a todos encontros da comunidade já gravados</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">15 dias de garantia</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso imediato, liberado logo após a confirmação do pagamento</h4>
    </div>
{% endblock sidebar %}