{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
    <div class="sidebar-item">
        <h4 class="white-txt">3 Cursos Completos</h4>
        <div>Com aulas curtas e objetivas para te levar pro mercado</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Ferramentas de Desenvolvimento</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso ao Fórum</h4>
        <div>tire todas suas dúvidas de 300 vídeo-aulas</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso Vitalício</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">1 Bonus Imperdível</h4>
        <ol role="list">
            <li>Acesso ao Workshop Carreira Pro</li>
        </ol>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">15 dias de garantia</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso imediato, liberado logo após a confirmação do pagamento</h4>
    </div>

{% endblock sidebar %}