{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
    <div class="sidebar-item">
        <h4 class="white-txt">Sessões de Mentoria com o Renzo</h4>
        <div>Sessões de mentoria em sala fechada do Zoom após cada aula</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Grupo de Networking no Telegram</h4>
        <div>Acesso a grupo privado no Telegram com todos outros participantes VIPs e equipe Python Pro</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Gravações da Jornada Rumo à Primeira Vaga</h4>
        <div>Acesso às gravações das aulas por 1 ano</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Wordshops de Construção de Projetos</h4>
        <div>Acesso, por 1 ano, a dois Workshops 100% Mão na Massa com a construção de um sistema real</div>
    </div>

{% endblock sidebar %}