{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
        <div class="sidebar-item">
          <h4 class="white-txt">8 Encontros</h4>
          <div>Online para tirar TODAS suas dúvidas</div>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">4 Webinários ao vivo</h4>
          <div>Com especialistas renomados</div>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">7 Cursos Completos</h4>
          <div>Com aulas curtas e objetivas para te levar pro mercado</div>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">Acesso ao Fórum</h4>
            <div>Tire todas suas dúvidas de 300 vídeo-aulas</div>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">Acesso Vitalício</h4>
            <div>O aluno pode se inscrever em todas as futuras turmas</div>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">5 Bonus Imperdíveis</h4>
          <ol role="list">
            <li>Acesso aos Webinários das turmas passadas</li>
            <li>Acesso às aulas das turmas passadas</li>
            <li>Acesso ao Workshop Carreira Pro</li>
            <li>Acesso à comunidade privada do Telegram</li>
            <li>Acesso à área privada de Bootcampers no Fórum</li>
          </ol>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">Super Bonus</h4>
          <ol role="list">
            <li>Monitoria DevPro</li>
            <li>Acesso a um desenvolvedor profissional para tirar todas suas dúvidas ao vivo</li>
          </ol>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">Acesso a todas as aulas das turmas passadas</h4>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">15 dias de garantia</h4>
        </div>
        <div class="sidebar-item">
          <h4 class="white-txt">Acesso imediato, liberado logo após a confirmação do pagamento</h4>
        </div>
{% endblock sidebar %}