{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
    <div class="sidebar-item">
        <h4 class="white-txt">12 Cursos Completos</h4>
        <div>Com aulas curtas e objetivas para te levar pro mercado</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso ao Fórum</h4>
        <div>Tire todas suas dúvidas das mais 300 vídeo-aulas</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Servidor do Discord exclusivo</h4>
        <div>Para construir sua rede de contatos na área de tecnologia</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">5 Bonus Imperdíveis</h4>
        <ol role="list">
            <li>Acesso a trilha fundamental de programação web</li>
            <li>Cursos de HTML, CSS, Git, Linux e Focker</li>
            <li>Acesso por 1 mês aos encontros ao vivo da Comunidade DevPro</li>
            <li>Acesso à área privada da Comunidade no Fórum</li>
        </ol>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso a todos encontros da comunidade já gravados</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">15 dias de garantia</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso imediato, liberado logo após a confirmação do pagamento</h4>
    </div>
{% endblock sidebar %}