{% extends 'django_pagarme/pagarme.html' %}
{% block sidebar %}
    <div class="sidebar-item">
        <h4 class="white-txt">R$ 1000,00 de desconto!</h4>
        <div>3 cursos pelo preco de apenas 1</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso ao Fórum</h4>
        <div>tire todas suas dúvidas sobre cada curso</div>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso Vitalício</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">15 dias de garantia</h4>
    </div>
    <div class="sidebar-item">
        <h4 class="white-txt">Acesso imediato, liberado logo após a confirmação do pagamento</h4>
    </div>
{% endblock sidebar %}