{% extends 'django_pagarme/thanks.html' %}
{% load static %}
{% load django_pagarme %}
{% block title %}Oportunidade Única Python Pro!{% endblock %}
{% block page_main_title %}Parabéns por se registrar no Bootcamp Python Pro!{% endblock page_main_title %}

{% block thanks_video %}
    {% with thanks_video_id='AbdHGbEQKR0' %}
    {{ block.super }}
    {% endwith %}
{% endblock thanks_video %}

{% block upsell %}
    <div id="w-node-b11fafc8de25-dd0aa7ab" class="container-content">
        <h3>Se imagine daqui a alguns meses…<br><br>você já estará preparado para aplicar para diversas vagas de
            trabalho. Quem sabe até já estará empregado, ou fazendo freelas e ganhando dinheiro com programação.<br><br>Agora
            que você já é um programador profissional, com certeza vão surgir novos desafios. Serão problemas mais
            complexos, que vão exigir de você novas fontes de conhecimento.</h3>
    </div>
    <div id="w-node-bc8d56794687-dd0aa7ab" class="div-block-9"><img src="{% static 'thanks/images/Camada-8.png' %}"
                                                                    srcset="{% static 'thanks/images/Camada-8-p-500.png' %} 500w, {% static 'thanks/images/Camada-8.png' %} 794w"
                                                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 367.65625px, 100vw"
                                                                    id="w-node-a63fae7a4d69-dd0aa7ab" alt=""
                                                                    class="renzo-overlap">
        <h1 class="heading-6">Como você faria para aprender estes novos conhecimentos?</h1>
    </div>
    <div id="w-node-b5d44a037152-dd0aa7ab" class="main-content long-shadow">
        <h2 id="w-node-1f3faf3c1629-dd0aa7ab" class="card-heading">O Pacote Próximo Nível é o que você precisa!</h2>
        <div id="w-node-59371a9b87f6-dd0aa7ab" class="card-section">
            <div class="card-plan">
                <h4 class="card-title">Objetos<br>Pythonicos</h4>
                <p class="paragraph">Aprofunde o seu conhecimento de Orientação a Objetos, mas tendo em vista as
                    peculiaridades do Python.</p>
                <div class="prince-container">
                    <div class="currency">R$</div>
                    <div class="price-container">
                        <div class="price">497</div>
                        <img src="{% static 'thanks/images/x.svg' %}" width="100" alt="" class="x-mark"></div>
                </div>
            </div>
            <div class="card-plan">
                <h4 class="card-title">Python<br>Patterns</h4>
                <p class="paragraph">Aprofunde o seu conhecimento de Orientação a Objetos, mas tendo em vista as
                    peculiaridades do Python.</p>
                <div class="prince-container">
                    <div class="currency">R$</div>
                    <div class="price-container">
                        <div class="price">497</div>
                        <img src="{% static 'thanks/images/x.svg' %}" width="100" alt="" class="x-mark"></div>
                </div>
            </div>
            <div class="card-plan">
                <h4 class="card-title">Python para<br>Pythonistas</h4>
                <p class="paragraph">Aprofunde o seu conhecimento de Orientação a Objetos, mas tendo em vista as
                    peculiaridades do Python.</p>
                <div class="prince-container">
                    <div class="currency">R$</div>
                    <div class="price-container">
                        <div class="price">497</div>
                        <img src="{% static 'thanks/images/x.svg' %}" width="100" alt="" class="x-mark"></div>
                </div>
            </div>
        </div>
        <div id="w-node-0e3e2432e4af-dd0aa7ab" class="card-section featured">
            <div id="w-node-861aad50501c-dd0aa7ab" class="card-column">
                <h3 class="heading-5">O <strong>Pacote Próximo Nível</strong> é uma oferta única, feita especialmente
                    para você que confiou em mim.</h3>
                <div class="prince-container white mobile-price-version">
                    <div class="currency white">R$</div>
                    <div class="price-container">
                        <div class="price white">1491</div>
                        <img src="{% static 'thanks/images/x.svg' %}" width="100" alt="" class="x-mark"></div>
                </div>
                <div data-w-id="ea96f1ae-87b1-0244-cecb-8b607ae764db" class="price featured"><span
                        class="text-span">{{ payment_item_config.upsell.max_installments }}x </span>{{ payment_item_config.upsell.max_installment_amount_after_interest|cents_to_brl }}
                </div>
                <div data-w-id="5e9d3cc9-a561-695b-b176-53701fcf8510" class="second-price">
                    ou {{ payment_item_config.upsell.max_amount_after_interest|cents_to_brl }} à vista
                </div>
            </div>
            <div id="w-node-fff71be67632-dd0aa7ab" class="card-column right"><img
                    src="{% static 'thanks/images/NoPath.png' %}" alt="" class="image-2"></div>
            <a id="w-node-7ab011c3f98d-dd0aa7ab"
               href="{% url 'django_pagarme:pagarme' slug=payment_item_config.upsell.slug %}?open_modal=true&review_informations=false"
               class="submit-button w-button">SIM, EU QUERO APROVEITAR ESSA CHANCE!</a>
            <div id="w-node-362a07bb0a0b-dd0aa7ab" class="div-block-8"><img src="{% static 'thanks/images/error.svg' %}"
                                                                            alt="" class="image-3">
                <p class="highlight-text">Mas atenção, essa oferta só vale para <strong>AGORA!</strong></p><img
                        src="{% static 'thanks/images/error.svg' %}" alt="" class="image-3"></div>
        </div>
        <div id="w-node-945245471d5c-dd0aa7ab" class="card-footer"><img
                src="{% static 'thanks/images/NoPath---Copia.png' %}" alt=""></div>
        <img src="{% static 'thanks/images/gift-lace.svg' %}" alt="" class="gift-lace"></div>
{% endblock upsell %}
