{% extends 'core/base_without_nav.html' %}
{% load django_pagarme %}
{% load static %}
{% block title %}Obrigado por se matricular no {{ payment_item_config.name }}{% endblock %}
{% block styles %}{% endblock %}
{% block body_class %}clean-body{% endblock %}
{% block scripts %}{% endblock scripts %}
{% block head %}
    <meta http-equiv="refresh"
          content="0; URL='https://www.python.pro.br/r/jrpv-acesso-vip-obrigado'"/>
{% endblock head %}
{% block body %}
    O conteúdo desta página foi movido permanentemente para o link:
    <a href="https://www.python.pro.br/r/jrpv-acesso-vip-obrigado">https://www.python.pro.br/r/jrpv-acesso-vip-obrigado</a>
{% endblock body %}
{% block footer %}{% endblock footer %}
