{% extends 'core/base.html' %}
{% block title %}Curso {{ payment_item_config.name }} indisponível{% endblock %}
{% block description %}Página de curso {{ payment_item_config.name }} indisponível{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                {% if request.user.is_authenticated %}
                    <h1 class="mt-5">Você não tem acesso à {{ payment_item_config.name }}</h1>
                    <br/>
                    <br/>
                    <p>A razão disso é que o desconto de R$ 300,00 só está disponível para quem tem um produto
                        ativo.</p>
                    <p>Você tem duas opções, clique abaixo</p>
                    <ol>
                        <li><a href="{% url 'django_pagarme:pagarme' slug='comunidade-devpro' %}">Se matricular na
                            Comunidade DevPro</a></li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=5511968983377&text=Olá! Gostaria de ter acesso ao desconto da renovação da Comunide DevPro. Meu email é {{ request.user.email }}. Você pode me ajudar?">Entrar
                                em contato com Suporte no Whatsapp.</a></li>
                    </ol>
                {% else %}
                    <h1 class="mt-5">Você precisa logar para acesar essa página</h1>
                    <br/>
                    <br/>
                    <p>Clique no botão abaixo para logar:</p>
                    <a class="btn btn-primary &raquo;"
                       href="{% url 'two_factor:login' %}?next={% url 'django_pagarme:pagarme' slug=payment_item_config.slug %}">Logar</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}

