{% extends "launch/landing_page.html" %}
{% load static %}

{% block title %}{{ title }} - SEMANA DO PROGRAMADOR PROFISSIONAL{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/spp/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/spp/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/spp/magnific-popup.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <nav class="navbar-classes text-center">
    <div class="navbar-classes__group">
      <div class="navbar-classes__group__brand">
        <img class="navbar-classes__group__brand__item" src="{% static 'svg/spp/logo-semana-do-programador-profissional.svg' %}" alt="Semana do Programador Profissional">
      </div>

      {% include 'launch/_navbar.html' %}
    </div>
  </nav>

  <header class="header-classes">
    <div class="header-classes__group">
      <div class="header-classes__group__content">
        {% comment %} <span class="header-classes__group__content__button text-uppercase fw-700">Aula 01 <span class="fw-300"> - 10/08</span></span> {% endcomment %}
        <h1 class="header-classes__group__content__title fw-800 text-blue font-highlighted">{{ title }}</h1>
        <h2 class="header-classes__group__content__subtitle fw-300">{{ description }}</h2>
      </div>

      <div class="header-classes__group__video">
        <iframe class="header-classes__group__video__item" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="header-classes__group__video__chat" src="https://www.youtube.com/live_chat?v={{ video_id }}&embed_domain={% if DEBUG %}localhost{% else %}www.python.pro.br{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img class="header-classes__group__video__detail" src="{% static 'img/spp/countdown/countdown-detail.png' %}" alt="Pequenos círculos na cor amarela formando um quadrado">
      </div>
    </div>
  </header>

  <main role="main">
    <section class="cards-classes">
      <div class="cards-classes__group">
        <div class="cards-classes__group__item cards-classes__group__item--small bg-blue">
          <h2 class="cards-classes__group__item--small__title text-white fw-700 font-highlighted">Baixe aqui o material completo da aula.</h2>
          <a class="cards-classes__group__item--small__button bg-green fw-700 text-uppercase text-dark-green main-transition" href="javascript:alert('Material ainda não disponível.')" rel="noopener noreferrer">Download PDF</a>
          <img class="cards-classes__group__item__img-material" src="{% static 'img/spp/cards-classes/image-material.png' %}" alt="Mão direita segurando iPhone na horizontal com a imagem do Renzo na tela">
        </div>

        <div class="cards-classes__group__item cards-classes__group__item--small bg-green">
          <h2 class="cards-classes__group__item--small__title cards-classes__group__item--small__title--second text-white fw-700 font-highlighted">Faça parte do nosso time no Telegram.</h2>
          <a class="cards-classes__group__item--small__button bg-blue fw-700 text-uppercase text-white main-transition" href="https://t.me/semprogprof" rel="noopener noreferrer" target="_blank">Acesse seu Telegram</a>
          <img class="cards-classes__group__item__img-telegram" src="{% static 'img/spp/cards-classes/image-telegram.png' %}" alt="Mão direita segurando iPhone na vertical com a imagem do logo do Telegram na tela">
        </div>

        <div class="cards-classes__group__item cards-classes__group__item--big bg-gray">
          <h2 class="cards-classes__group__item--big__title text-blue fw-700 font-highlighted">Cadastre-se e receba as aulas no seu e-mail</h2>
          <a class="cards-classes__group__item--big__button bg-blue fw-700 text-uppercase text-white main-transition" href="{% url 'launch:landing_page' %}" rel="noopener noreferrer" target="_blank">Clique aqui</a>
          <img class="cards-classes__group__item__img-big" src="{% static 'img/spp/cards-classes/card-1.jpg' %}" alt="Círculo grande transparente com bordas verdes, círculo azul com ícone de 2 documentos">
        </div>

        <div class="cards-classes__group__item cards-classes__group__item--big bg-gray">
          <h2 class="cards-classes__group__item--big__title text-blue fw-700 font-highlighted">Quer ser avisado da próxima aula?</h2>
          <a class="cards-classes__group__item--big__button bg-green fw-700 text-uppercase text-dark-green main-transition" href="https://www.youtube.com/watch?v={{ video_id_next_class }}" rel="noopener noreferrer" target="_blank">Clique aqui</a>
          <img class="cards-classes__group__item__img-big" src="{% static 'img/spp/cards-classes/card-2.jpg' %}" alt="Círculo grande transparente com bordas verdes, círculo azul com ícone do YouTube">
        </div>
      </div>
    </section>

    <section class="comments-classes">
      <div class="comments-classes__group">
        <div class="comments-classes__group__content">
          <h2 class="comments-classes__group__content__title text-green fw-700 font-highlighted">O que achou da aula?</h2>
          <h3 class="comments-classes__group__content__subtitle fw-300">Ficou com alguma dúvida? Deixe seu comentário aqui embaixo que eu vou te ajudar!</h3>
        </div>

        <div class="comments-classes__group__script">
          <iframe class="comments-classes__group__script__facebook" name="f29792ddc87ade8" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v4.0/plugins/comments.php?app_id=828510970515986&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df30d09583aa825c%26domain%3Dwww.python.pro.br%26origin%3Dhttps%253A%252F%252Fwww.python.pro.br%252Ff37ea6d3b6f3e1%26relation%3Dparent.parent&amp;container_width=730&amp;height=100&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpythonprobr%2Fposts%2F1551609431645519&amp;locale=pt_BR&amp;sdk=joey&amp;version=v4.0&order_by=reverse_time"></iframe>
        </div>
      </div>
    </section>

    <section class="testimonials-classes">
      <div class="testimonials-classes__group">
        <h2 class="testimonials-classes__group__title text-blue fw-700 font-highlighted text-center">Veja histórias dos alunos transformados</h2>

        <div class="testimonials-classes__group__people owl-carousel">
          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=Fpq-T9lApho">
              <img src="{% static 'img/social-proof/tanio.png' %}" alt="Card do vídeo 1 - Tanio">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNsU9KLVkoM&">
              <img src="{% static 'img/social-proof/isaac.webp' %}" alt="Card do vídeo 24 - Isaac Ferreira">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=p-7b3LYxXPc">
              <img src="{% static 'img/social-proof/fabricio.webp' %}" alt="Card do vídeo 8 - Fabrício Aguiar">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SvM33abGWMw">
              <img src="{% static 'img/social-proof/pablo.png' %}" alt="Card do vídeo 9 - Pablo">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=EzxzGFQXQYQ">
              <img src="{% static 'img/social-proof/ronaldo-oliveira.png' %}" alt="Card do vídeo 20 - Ronaldo Oliveira">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=i-P3S6sTOzA">
              <img src="{% static 'img/social-proof/charles-tenorio.png' %}" alt="Card do vídeo 18 - Charles Tenório">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=B82STg6siYA">
              <img src="{% static 'img/social-proof/marcelo-andreoli.png' %}" alt="Card do vídeo 12 - Marcelo Andrioli">
          </a>
          
          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OfFN_WjTYqM">
              <img src="{% static 'img/social-proof/alisson-americo-1.png' %}" alt="Card do vídeo 17 - Alison Américo">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=90lX76GH2y0">
              <img src="{% static 'img/social-proof/guido-percu.png' %}" alt="Card do vídeo 4 - Guido Percú">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=LgosbGSJ5fI">
              <img src="{% static 'img/social-proof/paulo.png' %}" alt="Card do vídeo 10 - Paulo">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=nUZGmihUy1o">
              <img src="{% static 'img/social-proof/jorge-plautz.png' %}" alt="Card do vídeo 11 - Jorge Luiz">
          </a>
          
          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=SwGDBRrjyf0">
              <img src="{% static 'img/social-proof/diego.webp' %}" alt="Card do vídeo 2 - Diego Sorrilha">
          </a>        

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=uWokzyDsWsQ">
              <img src="{% static 'img/social-proof/marcus-vinicius.png' %}" alt="Card do vídeo 13 - Marcos Vinícius">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=OU8mLyjX-y0">
              <img src="{% static 'img/social-proof/carlos-augusto.png' %}" alt="Card do vídeo 14 - Carlos Augusto Moreno">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=COUA7lbKZn8">
              <img src="{% static 'img/social-proof/jasiel.png' %}" alt="Card do vídeo 15 - Jasiel">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=5FAditPNynA">
              <img src="{% static 'img/social-proof/vinicius-assef.png' %}" alt="Card do vídeo 16 - Vinicius Assef">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=ZNgfS9Ohwac">
              <img src="{% static 'img/social-proof/marcelo.webp' %}" alt="Card do vídeo 3 - Marcelo Del Fiore">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=TtlB4E7_MZM">
              <img src="{% static 'img/social-proof/ferrabras.webp' %}" alt="Card do vídeo 6 - Tiago Cordeiro">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=faruwyQcbWY">
              <img src="{% static 'img/social-proof/maria-elisa.png' %}" alt="Card do vídeo 19 - Elisa">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=0HP2nS44Ip4">
              <img src="{% static 'img/social-proof/alysson.webp' %}" alt="Card do vídeo 5 - Alison Américo">
          </a>            

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=3S22WWkOJRo">
              <img src="{% static 'img/social-proof/rafael-ramos.png' %}" alt="Card do vídeo 21 - Rafinha Ramos">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=VSW4SY395Mo">
              <img src="{% static 'img/social-proof/regis-silva.png' %}" alt="Card do vídeo 22 - Régis Silva">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=NXqsyoWalO8">
              <img src="{% static 'img/social-proof/ricardo-portela.png' %}" alt="Card do vídeo 23 - Ricardo Portela">
          </a>

          <a class="testimonials-classes__group__people__link popup-vimeo main-transition" href="https://www.youtube.com/watch?v=avyZ4WjluEo">
              <img src="{% static 'img/social-proof/vinicius.webp' %}" alt="Card do vídeo 7 - Vinicius Mesel">
          </a>
        </div>
      </div>
    </section>

    <footer class="footer-classes">
      <div class="footer-classes__group">
        <img class="footer-classes__group__detail-left" src="{% static 'img/spp/footer/detail-top-footer.png' %}" alt="Detalhe grande com vários círculos pequenos na cor verde abacate formando um quadrado">

        <div class="footer-classes__group__header">
          <div class="footer-classes__group__header__cta">
            <h2 class="footer-classes__group__header__cta__title text-blue fw-500 font-highlighted">Ainda não se cadastrou?</h2>
            <a class="footer-classes__group__header__cta__button text-uppercase bg-blue fw-700" href="{% url 'launch:landing_page' %}">Clique aqui</a>
          </div>

          <h3 class="footer-classes__group__header__subtitle text-green font-highlighted fw-800">Cronograma <span class="break">de aulas</span></h3>
        </div>

        <div class="footer-classes__group__links">

          {% if 'cpl1' in opened_cpls %}
            <div class="footer-classes__group__links__item footer-classes__group__links__item--active footer-classes__group__links__item--next">
                <span class="footer-classes__group__links__item__button footer-classes__group__links__item__button--active text-uppercase">Dia 10/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 01</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-blue">Tudo o que você precisa para começar a programar</h4>
            </div>
          {% else %}
            <div class="footer-classes__group__links__item">
                <span class="footer-classes__group__links__item__button text-uppercase">Dia 10/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 01</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-light-gray">Tudo o que você precisa para começar a programar</h4>
            </div>
          {% endif %}
          
          {% if 'cpl2' in opened_cpls %}
            <div class="footer-classes__group__links__item footer-classes__group__links__item--active footer-classes__group__links__item--next">
                <span class="footer-classes__group__links__item__button footer-classes__group__links__item__button--active text-uppercase">Dia 11/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 02</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-blue">Fundamentos da Programação Procedural</h4>
            </div>
          {% else %}
            <div class="footer-classes__group__links__item">
                <span class="footer-classes__group__links__item__button text-uppercase">Dia 11/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 02</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-light-gray">Fundamentos da Programação Procedural</h4>
            </div>
          {% endif %}
          
          {% if 'cpl3' in opened_cpls %}
            <div class="footer-classes__group__links__item footer-classes__group__links__item--active footer-classes__group__links__item--next">
                <span class="footer-classes__group__links__item__button footer-classes__group__links__item__button--active text-uppercase">Dia 12/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 03</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-blue">Descobrindo o Mundo da Orientação a Objeto</h4>
            </div>
          {% else %}
            <div class="footer-classes__group__links__item">
                <span class="footer-classes__group__links__item__button text-uppercase">Dia 12/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 03</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-light-gray">Descobrindo o Mundo da Orientação a Objeto</h4>
            </div>
          {% endif %}
          
          {% if 'cpl4' in opened_cpls %}
            <div class="footer-classes__group__links__item footer-classes__group__links__item--last">
                <span class="footer-classes__group__links__item__button footer-classes__group__links__item__button--active text-uppercase">Dia 13/08</span>
                <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 04</h3>
                <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-blue">Vamos Finalmente Finalizar o projeto e Voar!</h4>
            </div>
          {% else %}
              <div class="footer-classes__group__links__item footer-classes__group__links__item--last">
                  <span class="footer-classes__group__links__item__button text-uppercase">Dia 13/08</span>
                  <h3 class="footer-classes__group__links__item__title font-highlighted fw-400 text-green">Aula 04</h3>
                  <h4 class="footer-classes__group__links__item__subtitle font-highlighted fw-700 text-light-gray">Vamos
                      Finalmente Finalizar o projeto e Voar!</h4>
              </div>
          {% endif %}
        </div>
      </div>

        <img class="footer-classes__renzo-mobile" src="{% static 'img/spp/footer-classes/renzo-mobile.jpg' %}"
             alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Dev Pro. Imagem pequena">

        <div class="footer-classes__group__copyright">
            <p class="footer-classes__group__copyright__title fw-700 text-uppercase text-copyright">&copy; Dev Pro. 2020
                Todos os direitos reservados.</p>
        </div>

        <img class="footer-classes__renzo-desktop" src="{% static 'img/spp/footer-classes/renzo-desktop.png' %}"
             alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Dev Pro. Imagem grande">
    </footer>
  </main>

    <script src="{% static 'js/spp/jquery.min.js' %}"></script>
    <script src="{% static 'js/spp/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/spp/magnific-popup.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
        autoPlay: 3000,
        loop: true,
        margin: 10,
        responsiveClass: true,
        dots: true,
        responsive:{
          0:{
            items: 1,
            nav: true
          },
          600:{
            items: 3,
            nav: false
          },
          1000:{
            items: 3,
            nav: true,
          }
        }
      })
    });
  </script>

  <script>
    $('.popup-vimeo').magnificPopup({
      src: 'https://vimeo.com/398972182',
      type: 'iframe'
    });
  </script>
{% endblock %}


{% block extrabody %}
    <script src="{% static 'js/spp/jquery.min.js' %}"></script>
    <script src="{% static 'js/spp/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/spp/magnific-popup.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                autoPlay: 3000,
                loop: true,
                margin: 10,
                responsiveClass: true,
                dots: true,
                responsive:{
                0:{
                    items: 1,
                    nav: true
                },
                600:{
                    items: 3,
                    nav: false
                },
                1000:{
                    items: 3,
                    nav: true,
                }
                }
            })
        });
    </script>

    <script>
        $('.popup-vimeo').magnificPopup({
        src: 'https://vimeo.com/398972182',
        type: 'iframe'
        });
    </script>
{% endblock %}