{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Semana do Programador Profissional é um evento gratuito onde vou te mostrar o passo a passo que vai te dar acesso a um mercado que paga altos salários e milhares de vagas em aberto!">
  <meta name="author" content="Renzo Nuccitelli">
  <title>QUASE LÁ... | Semana do Programador Profissional</title>
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/spp/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/spp/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/spp/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/spp/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/spp/safari-pinned-tab.svg' %}" color="#777777">
  
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">
  <link href="{% static 'css/spp/custom.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/spp/normalize.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap" rel="stylesheet">
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://www.python.pro.br/semana-do-programador-profissional/inscricao" />
  <meta name="twitter:title" content="Descubra o caminho para se tornar um programador profissional em pouco tempo" />
  <meta name="twitter:description" content="A Semana do Programador Profissional é um evento gratuito onde vou te mostrar o passo a passo que vai te dar acesso a um mercado que paga altos salários e milhares de vagas em aberto!" />
  <meta property="twitter:image" content="{% static 'img/spp/card-python-pro.png' %}" />
  <meta property="og:url" content="https://www.python.pro.br/semana-do-programador-profissional/inscricao" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Descubra o caminho para se tornar um programador profissional em pouco tempo" />
  <meta property="og:site_name" content="Descubra o caminho para se tornar um programador profissional em pouco tempo" />
  <meta property="og:description" content="A Semana do Programador Profissional é um evento gratuito onde vou te mostrar o passo a passo que vai te dar acesso a um mercado que paga altos salários e milhares de vagas em aberto!" />
  <meta property="og:image" content="{% static 'img/spp/card-python-pro.png' %}" />

  <script src="{% static 'js/sentry.5.3.0.min.js' %}" crossorigin="anonymous"></script>
  <script type="application/javascript">
      Sentry.init({
        dsn: '{{ SENTRY_DSN }}',
        allowList: [
            'pypro.s3.amazonaws.com',
            'pypro-staging.s3.amazonaws.com'
        ],
        denyUrls: [
            {#// Facebook flakiness#}
            /graph\.facebook\.com/i,
            {#// Facebook blocked#}
            /connect\.facebook\.net\/en_US\/all\.js/i,
            {#// Woopra flakiness#}
            /eatdifferent\.com\.woopra-ns\.com/i,
            /static\.woopra\.com\/js\/woopra\.js/i,
            // Chrome extensions
            /extensions\//i,
            /^chrome:\/\//i,
            // Other plugins
            /127\.0\.0\.1:4001\/isrunning/i,  // Cacaoweb
            /webappstoolbarba\.texthelp\.com\//i,
            /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
        ],
        ignoreErrors: [
            // Random plugins/extensions
            'top.GLOBALS',
            {#// See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error.html#}
            'originalCreateNotification',
            'canvas.contentDocument',
            'MyApp_RemoveAllHighlights',
            'http://tt.epicplay.com',
            'Can\'t find variable: ZiteReader',
            'jigsaw is not defined',
            'ComboSearch is not defined',
            'http://loading.retry.widdit.com/',
            'atomicFindClose',
            {#// Facebook borked#}
            'fb_xd_fragment',
            {#// ISP "optimizing" proxy - `Cache-Control: no-transform` seems to#}
            {#// reduce this. (thanks @acdha)#}
            {#// See http://stackoverflow.com/questions/4113268#}
            'bmi_SafeAddOnload',
            'EBCallBackMessageReceived',
            {#// See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx#}
            'conduitPage'
        ]
    });
  </script>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44718512-1"></script>
    {#    Google Tag Manager#}
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{GOOGLE_TAG_MANAGER_ID}}');</script>
    {#     End Google Tag Manager#}
</head>
<body>
<nav class="navbar">
    <img class="navbar__icon" src="{% static 'svg/spp/logo-python-pro.svg' %}" alt="Logo Dev Pro">
</nav>

<header class="header-thank-you">
    <div class="header-thank-you__content">
        <h1 class="header-thank-you__group__title fw-900 text-green text-uppercase font-highlighted">Parabéns! <span
                class="break text-white">Sua inscrição está feita!</span></h1>
        <h2 class="header-thank-you__group__subtitle fw-300 text-white">Eu enviei todas as instruções detalhadas de como
            o workshop vai funcionar lá no seu email. Mas, antes de ir até lá, é <b class="text-green"><u>muito
                importante</u> que você cumpra os passos abaixo.</b></h2>
    </div>

    <div class="header-thank-you__video">
        <iframe class="header-thank-you__video__item"
                src="https://www.youtube.com/embed/mVSI3QZWcU0?autoplay=1&controls=0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
  </header>

  <main role="main">
    <section class="steps">
      <div class="steps__1">
        <div class="steps__group">
          <div class="steps__1__content">
            <h2 class="steps__title fw-900 text-blue text-uppercase font-highlighted">Passo 1 <span class="break text-green">Entre no nosso canal lá no</span> Telegram.</h2>
            <p class="steps__description fw-400">Vai ser por lá que eu vou te informar sobre tudo o que você precisa saber sobre a semana do programador profissional.</p>
            <p class="steps__description fw-400">Além disso, quem estiver por lá vai ter uma vantagem super especial. Para se inscrever, basta clicar no botão aqui embaixo.</p>
            <a class="steps__btn steps__btn--green fw-700 text-uppercase main-transition" href="https://www.python.pro.br/r/spp-l3-telegram?utm_source=site&utm_medium=trafego-organico&utm_campaign=obrigado" rel="noopener noreferrer" target="_blank">Entrar no canal no Telegram</a>
          </div>

          <div class="steps__1__img steps__1__img--order">
            <img class="steps__1__img__item-mobile" src="{% static 'img/spp/thank-you/steps/step-1-mobile.jpg' %}" alt="Mão direita de uma pessoa segundo um iPhone X com contúdo sobre Telegram na tela. Imagem para mobile">
            <img class="steps__1__img__item-desktop" src="{% static 'img/spp/thank-you/steps/step-1-desktop.png' %}" alt="Mão direita de uma pessoa segundo um iPhone X com contúdo sobre Telegram na tela. Imagem para desktop">
          </div>
        </div>

        <img class="steps__arrow" src="{% static 'svg/spp/blue-arrow-icon.svg' %}" alt="Seta azul apontando para baixo">
      </div>

      <div class="steps__2">
        <div class="steps__group">
          <div class="steps__2__content">
            <h2 class="steps__title fw-900 text-blue text-uppercase font-highlighted">Passo 2 <span class="break text-green">Entre no nosso Grupo do WhatsApp</span></h2>
            <p class="steps__description fw-400">Lá no WhatsApp eu também vou te informar sobre tudo o que você precisa saber sobre a semana do programador profissional.</p>
            <p class="steps__description fw-400">Para entrar no grupo, basta clicar no botão aqui embaixo.</p>
            <a class="steps__btn steps__btn--blue fw-700 text-uppercase main-transition" href="https://www.python.pro.br/r/spp-l3-whatsapp?utm_source=site&utm_medium=trafego-organico&utm_campaign=obrigado" rel="noopener noreferrer" target="_blank">Entre no Grupo do WhatsApp</a>
          </div>

          <div class="steps__2__img">
            <img class="steps__2__img__item-mobile" src="{% static 'img/spp/thank-you/steps/step-2-mobile.jpg' %}" alt="Mão direita de uma pessoa segundo um iPhone X com contúdo sobre WhatsApp na tela. Imagem para mobile">
            <img class="steps__2__img__item-desktop" src="{% static 'img/spp/thank-you/steps/step-2-desktop.png' %}" alt="Mão direita de uma pessoa segundo um iPhone X com contúdo sobre WhatsApp na tela. Imagem para desktop">
          </div>
        </div>

        <img class="steps__arrow" src="{% static 'svg/spp/green-arrow-icon.svg' %}" alt="Seta verde abacate apontando para baixo">
      </div>

      <div class="steps__3">
        <div class="steps__group">
          <div class="steps__3__content">
            <h2 class="steps__title fw-900 text-blue text-uppercase font-highlighted">Passo 3 <span class="break text-green">Me siga nas redes sociais</span></h2>
            <p class="steps__description fw-400">São através delas que eu falo quase que diariamente sobre tecnologia e sobre o mercado de programação.</p>
            <a class="steps__btn steps__btn--instagram fw-700 text-uppercase main-transition" href="https://instagram.com/renzoprobr/" rel="noopener noreferrer" target="_blank">
              <img class="steps__btn__icon" src="{% static 'svg/spp/instagram-logo.svg' %}" alt="Logo Instagram na cor branca">
              Seguir no Instagram
            </a>
            <a class="steps__btn steps__btn--youtube fw-700 text-uppercase main-transition" href="https://www.youtube.com/user/renzonuccitelli/" rel="noopener noreferrer" target="_blank">
              <img class="steps__btn__icon" src="{% static 'svg/spp/youtube-logo.svg' %}" alt="Logo YouTube na cor branca">
              Inscrever-se no canal do YouTube
            </a>
            <a class="steps__btn steps__btn--twitter fw-700 text-uppercase main-transition" href="https://twitter.com/renzoprobr" rel="noopener noreferrer" target="_blank">
              <img class="steps__btn__icon" src="{% static 'svg/spp/twitter-logo.svg' %}" alt="Logo Twitter na cor branca">
              Seguir no Twitter
            </a>
          </div>

          <div class="steps__3__img steps__3__img--order">
            <img class="steps__3__img__item-mobile" src="{% static 'img/spp/thank-you/steps/step-3-mobile.jpg' %}" alt="Dois iPhones azuis: um com tela mostrando conteúdo de Instagram e outro mostrando sobre Twitter. Imagem para mobile">
            <img class="steps__3__img__item-desktop" src="{% static 'img/spp/thank-you/steps/step-3-desktop.png' %}" alt="Dois iPhones azuis: um com tela mostrando conteúdo de Instagram e outro mostrando sobre Twitter. Imagem para desktop">
          </div>
        </div>
      </div>
    </section>

    <section class="form form--thank-you">
        <div class="form__group form__group--thank-you">
            <h2 class="form__group__title form__group__title--thank-you fw-900 text-green text-uppercase font-highlighted">
                Nos vemos no dia 10!</h2>
            <h2 class="form__group__title form__group__title--thank-you fw-900 text-blue text-uppercase font-highlighted">
                Abraços :)</h2>
        </div>
    </section>

      <footer class="footer">
          <div class="footer__group">
              <img class="footer__group__detail-left-desktop" src="{% static 'img/spp/footer/detail-top-footer.png' %}"
                   alt="Detalhe grande com vários círculos pequenos na cor verde abacate formando um quadrado">
              <div class="footer__group__header">
                  <img class="footer__group__header__logo" src="{% static 'svg/spp/logo-python-pro.svg' %}"
                       alt="Logo Dev Pro">
                  <h2 class="footer__group__header__title fw-700 text-blue text-uppercase">Semana do Programador
                      Profissional</h2>
                  <h3 class="footer__group__header__subtitle fw-700 text-blue text-uppercase">10 a 14 de agosto</h3>
              </div>

              <div class="footer__group__content">
                  <div class="footer__group__content__item">
                      <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/phone.jpg' %}"
                           alt="Ícone de um telefone na cor verde abacate">
                      <div>
                          <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">Ligue para
                              gente</h4>
                          <p class="footer__group__content__item__description fw-300 text-gray">+55 12 99141-5422</p>
            </div>
          </div>

          <div class="footer__group__content__item">
            <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/email.jpg' %}" alt="Ícone de um envelope na cor verde abacate">
            <div>
              <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">Envie um e-mail</h4>
              <p class="footer__group__content__item__description fw-300 text-gray">suporte@python.pro.br</p>
            </div>
          </div>

                  <div class="footer__group__content__item">
                      <img class="footer__group__content__item__icon" src="{% static 'img/spp/footer/cpnj.jpg' %}"
                           alt="Ícone de um globo na cor verde abacate">
                      <div>
                          <h4 class="footer__group__content__item__title fw-700 text-blue text-uppercase">CNPJ</h4>
                          <p class="footer__group__content__item__description fw-300 text-gray">31.080.715/0001-25</p>
                      </div>
                  </div>
              </div>

              <img class="footer__renzo-mobile" src="{% static 'img/spp/footer/renzo-nuccitelli-footer.jpg' %}"
                   alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Dev Pro. Imagem pequena">

              <img class="footer__group__detail" src="{% static 'img/spp/footer/footer-group-detail.jpg' %}"
                   alt="Pequenos círculos na cor verde abacate formando um retângulo">
          </div>

          <div class="footer__copyright">
              <p class="footer__copyright__title fw-700 text-uppercase text-copyright">&copy; Dev Pro. 2020 Todos os
                  direitos reservados.</p>
              <img class="footer__copyright__renzo-desktop" src=""
                   alt="Renzo Nuccitelli sorrindo, fazendo 'joinha', com camiseta preta do Dev Pro. Imagem grande">
          </div>

          <img class="footer__group__detail-right-desktop"
               src="{% static 'img/spp/footer/renzo-nuccitelli-footer-desktop.png' %}"
               alt="Detalhe grande com vários círculos pequenos na cor verde abacate formando um quadrado">
    </footer>
  </main>
</body>
</html>
